wkw-antonsthal-node-red-tinker.json
[{"id":"90e7a712.212c1","type":"tab","label":"WKW AT S7","disabled":false,"info":""},{"id":"ded9eabf.f0964","type":"tab","label":"Service","disabled":false,"info":""},{"id":"36e594f0.d04414","type":"tab","label":"Rechenhaus","disabled":false,"info":""},{"id":"78f172d6.d98214","type":"tab","label":"Infrastruktur","disabled":false,"info":""},{"id":"b9e24737.d62e38","type":"tab","label":"Push & Mail","disabled":false,"info":""},{"id":"c5cb235c.8c667","type":"tab","label":"mqtt Server","disabled":false,"info":""},{"id":"ab4eedf4.584cf","type":"tab","label":"influxDB","disabled":false,"info":""},{"id":"88285dce.6ed79","type":"tab","label":"Master","disabled":false,"info":""},{"id":"d59777ca.a8b5c8","type":"tab","label":"cam","disabled":false,"info":""},{"id":"e08a4e69.a83f9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"WKW-AT Thinkerboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"15b9f79a.46fc3","type":"ui_group","z":"","name":"Rechen-Status","tab":"be865199.60eb2","order":1,"disp":true,"width":"6","collapse":false},{"id":"58c6ae1.5b7e85","type":"ui_group","z":"","name":"Rechen-Steuerung","tab":"be865199.60eb2","order":3,"disp":true,"width":"6","collapse":false},{"id":"be865199.60eb2","type":"ui_tab","z":"","name":"Rechenhaus","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c394f38e.a3ca08","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.3.75","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"02","remotetsaplo":"00","connmode":"tsap","adapter":"","busaddr":"","cycletime":"2000","timeout":"5500","name":"Logo8 Rechenhaus","vartable":[{"addr":"DB1,X1064.0","name":"Q01"},{"addr":"DB1,X1064.1","name":"Q02"},{"addr":"DB1,X1064.2","name":"Q03"},{"addr":"DB1,X1064.3","name":"Q04"},{"addr":"DB1,X1064.4","name":"Hydraulik-Pumpe"},{"addr":"DB1,X1064.5","name":"Spül-Pumpe"},{"addr":"DB1,X1064.6","name":"Q07"},{"addr":"DB1,X1064.7","name":"Q08"},{"addr":"DB1,X1065.0","name":"Q09"},{"addr":"DB1,X1065.1","name":"Q10"},{"addr":"DB1,X1065.2","name":"Q11"},{"addr":"DB1,X1065.3","name":"Q12"},{"addr":"DB1,X1065.4","name":"Q13"},{"addr":"DB1,X1065.5","name":"Q14"},{"addr":"DB1,X1065.6","name":"Q15"},{"addr":"DB1,X1065.7","name":"Q16"},{"addr":"DB1,X1066.0","name":"Q17"},{"addr":"DB1,X1066.1","name":"Q18"},{"addr":"DB1,X1066.2","name":"Q19"},{"addr":"DB1,X1066.3","name":"Q20"},{"addr":"DB1,X1024.0","name":"Rechenstart von Krafthaus"},{"addr":"DB1,X1024.1","name":"Parkstellung unten"},{"addr":"DB1,X1024.2","name":"Automatik-Betrieb"},{"addr":"DB1,X1024.3","name":"I04 High Freq"},{"addr":"DB1,X1024.4","name":"I05 High Freq"},{"addr":"DB1,X1024.5","name":"I06 High Freq"},{"addr":"DB1,X1024.6","name":"I07 AI01"},{"addr":"DB1,X1024.7","name":"I08 AI02"},{"addr":"DB1,X1025.0","name":"Überstrom"},{"addr":"DB1,X1025.1","name":"Rechen Endlage Oben"},{"addr":"DB1,X1025.2","name":"Rechen Endlage Unten"},{"addr":"DB1,X1025.3","name":"Rechen Endlage Mitte"},{"addr":"DB1,X1025.4","name":"I13"},{"addr":"DB1,X1025.5","name":"I14"},{"addr":"DB1,X1025.6","name":"I15"},{"addr":"DB1,X1025.7","name":"I16"},{"addr":"DB1,X1026.0","name":"I17"},{"addr":"DB1,X1026.1","name":"I18"},{"addr":"DB1,X1026.2","name":"I19"},{"addr":"DB1,X1026.3","name":"I20"},{"addr":"DB1,X1026.4","name":"I21"},{"addr":"DB1,X1026.5","name":"I22"},{"addr":"DB1,X1026.6","name":"I23"},{"addr":"DB1,X1026.7","name":"I24"},{"addr":"DB1,INT1032","name":"AI01"},{"addr":"DB1,INT1034","name":"AI02"},{"addr":"DB1,INT1036","name":"AI03"},{"addr":"DB1,INT1038","name":"AI04"},{"addr":"DB1,INT1039","name":"AI05"},{"addr":"DB1,INT1040","name":"AI06"},{"addr":"DB1,INT1042","name":"AI07"},{"addr":"DB1,INT1044","name":"AI08"},{"addr":"DB1,INT1046","name":"AI09"},{"addr":"DB1,INT1072","name":"AQ01"},{"addr":"DB1,INT1074","name":"AQ02"},{"addr":"DB1,INT1076","name":"AQ03"},{"addr":"DB1,INT1078","name":"AQ04"},{"addr":"DB1,INT1080","name":"AQ05"},{"addr":"DB1,INT1082","name":"AQ06"},{"addr":"DB1,INT1084","name":"AQ07"},{"addr":"DB1,INT1086","name":"AQ08"},{"addr":"DB1,INT1088","name":"AQ09"},{"addr":"DB1,X1104.0","name":"M01"},{"addr":"DB1,X1104.1","name":"M02"},{"addr":"DB1,X1104.2","name":"M03"},{"addr":"DB1,X1104.3","name":"M04"},{"addr":"DB1,X1104.4","name":"M05"},{"addr":"DB1,X1104.5","name":"M06"},{"addr":"DB1,X1104.6","name":"M07"},{"addr":"DB1,X1104.7","name":"M08 Start"},{"addr":"DB1,X1105.0","name":"M09"},{"addr":"DB1,X1105.1","name":"M10"},{"addr":"DB1,X1105.2","name":"M11"},{"addr":"DB1,X1105.3","name":"M12"},{"addr":"DB1,X1105.4","name":"M13"},{"addr":"DB1,X1105.5","name":"M14"},{"addr":"DB1,X1105.6","name":"M15"},{"addr":"DB1,X1105.7","name":"M16"},{"addr":"DB1,X1105.0","name":"M17"},{"addr":"DB1,X1105.1","name":"M18"},{"addr":"DB1,X1105.2","name":"M19"},{"addr":"DB1,X1105.3","name":"M20"},{"addr":"DB1,X1105.4","name":"M21"},{"addr":"DB1,X1105.5","name":"M22"},{"addr":"DB1,X1105.6","name":"M23"},{"addr":"DB1,X1105.7","name":"M24"},{"addr":"DB1,X1106.0","name":"M25 LOGO Screen White"},{"addr":"DB1,X1106.1","name":"M26 TDE Screen White"},{"addr":"DB1,X1106.2","name":"M27 CharSet"},{"addr":"DB1,X1106.3","name":"M28 LOGO Screen Orange"},{"addr":"DB1,X1106.4","name":"M29 LOGO Screen Red"},{"addr":"DB1,X1106.5","name":"M30 TDE Screen Orange"},{"addr":"DB1,X1106.6","name":"M31 TDE Screen Red"},{"addr":"DB1,X1106.7","name":"M32"},{"addr":"DB1,X1106.0","name":"M33...64"},{"addr":"DB1,INT1118","name":"AM1"},{"addr":"DB1,INT1120","name":"AM2"},{"addr":"DB1,INT1122","name":"AM3"},{"addr":"DB1,INT1124","name":"AM4"},{"addr":"DB1,INT1126","name":"AM5...64"},{"addr":"DB1,X1246.0","name":"NI1"},{"addr":"DB1,X1246.1","name":"NI1..64"},{"addr":"DB1,X1390.0","name":"NQ1"},{"addr":"DB1,X1390.1","name":"NQ1..64"},{"addr":"DB1,INT1262","name":"NAI1"},{"addr":"DB1,INT1264","name":"NAI1...64"},{"addr":"DB1,INT1406","name":"NAQ1"},{"addr":"DB1,INT1408","name":"NAQ2...64"}]},{"id":"b4c507da.303e8","type":"ui_group","z":"","name":"Infrastructure","tab":"a66f5d53.60241","order":1,"disp":true,"width":"6","collapse":false},{"id":"a66f5d53.60241","type":"ui_tab","z":"","name":"WKW Netzwerk","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d5a982ba.b33d88","type":"ui_group","z":"","name":"Statistik","tab":"be865199.60eb2","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b9174ce.3a5f64","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.3.72","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"","cycletime":"2000","timeout":"5000","name":"","vartable":[{"addr":"DB1015,WORD36","name":"Power_T2"},{"addr":"DB1021,INT8","name":"Pegel_V_is"},{"addr":"DB1021,INT4","name":"Pegel_E_is"},{"addr":"DB1021,INT2","name":"Pegel_E_set"},{"addr":"DB1080,WORD22","name":"Pegel_E_max_warn"},{"addr":"DB1021,INT362","name":"Akt_Reg_Soll"},{"addr":"DB1021,INT364","name":"Akt_Reg_Ist"},{"addr":"DB1021,INT366","name":"Akt_Reg_Diff"},{"addr":"DB1003,INT2","name":"Main_Power"},{"addr":"DB1164,INT26","name":"Leit_Ges_T2"},{"addr":"DB1151,REAL2","name":"Std_Geno_T2"},{"addr":"DB1152,REAL2","name":"Std_Hydr_T2"},{"addr":"DB1021,INT10","name":"Pegel_W_set"},{"addr":"DB1021,INT12","name":"Wehr_is"},{"addr":"DB1010,CHAR2","name":"Stoerung_1"},{"addr":"DB1001,X16.0","name":"Turbinenanwahl_AUTO"},{"addr":"DB1001,X8.0","name":"Anlage_ONOFF"},{"addr":"DB1001,X2.0","name":"DB1001,X2.0"},{"addr":"DB1001,X10.0","name":"Anlage_ON_OFF"},{"addr":"DB1321,X12.0","name":"Rechenreiniger_Start"},{"addr":"DB1320,WORD42","name":"Rechenreiniger_Zyklen"},{"addr":"DB1001,X32.0","name":"Pegel_Regelung_ON_OFF"},{"addr":"DB1164,INT16","name":"T2_kl_Zell_IST"},{"addr":"DB1164,INT18","name":"T2_gr_Zell_IST"},{"addr":"DB1164,INT28","name":"T2_kl_Zell_SOLL"},{"addr":"DB1164,INT30","name":"T2_gr_Zell_SOLL"},{"addr":"DB1164,INT24","name":"T2_ges_Zell_Soll"}]},{"id":"1a887d1a.60961b","type":"ui_group","z":"","name":"Turbinen Haus","tab":"37e4adcf.538152","order":1,"disp":true,"width":"6","collapse":false},{"id":"2225c771.ec34c8","type":"ui_group","z":"","name":"Pegelstände","tab":"37e4adcf.538152","order":2,"disp":true,"width":"6","collapse":false},{"id":"37e4adcf.538152","type":"ui_tab","z":"","name":"WKW Antonsthal","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"edd7e4f6.4cd03","type":"ui_link","z":"","name":"Cameras","link":"http://www.kaiser-hydropower.com/wkw/antonsthal/index.php?view=0","icon":"open_in_browser","target":"newtab","order":4},{"id":"1086f38b.38e87c","type":"ui_group","z":"","name":"Technik","tab":"37e4adcf.538152","order":3,"disp":true,"width":"12","collapse":false},{"id":"a4bd1a4e.0fc238","type":"pushover-keys","z":"","name":"WKW Antonsthal"},{"id":"8a45ab94.308bc8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"11883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ae61b729.5bb6d8","type":"homematic-device","z":"","channel":"OEQ0701926","name":"Eingangs Turbinenhaus"},{"id":"fd66b81a.ab4ab8","type":"ui_group","z":"","name":"Wartungseintrag","tab":"baa747c7.ad4ee8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c315bcc3.8c8b3","type":"ui_group","z":"","name":"Log","tab":"baa747c7.ad4ee8","order":2,"disp":true,"width":"6","collapse":false},{"id":"baa747c7.ad4ee8","type":"ui_tab","z":"","name":"Service","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9730f828.195bf8","type":"influxdb","z":"","hostname":"ddns01.kaiser-mechatronik.de","port":"18086","protocol":"http","database":"WKW","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"eb2d4598.d3a3a","type":"ui_group","z":"","name":"Pegelabsenkung","tab":"baa747c7.ad4ee8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a297bf3f.4cb1c8","type":"ftp","z":"","host":"w0073b06.kasserver.com","port":"","secureOptions":"","user":"f00b301a","connTimeout":"2000","pasvTimeout":"","keepalive":""},{"id":"78e0a5bc.37edac","type":"ui_group","z":"","name":"Default","tab":"35d6c484.15092c","order":1,"disp":true,"width":"6","collapse":false},{"id":"35d6c484.15092c","type":"ui_tab","z":"88285dce.6ed79","name":"Who is Master","icon":"dashboard","disabled":false,"hidden":false},{"id":"b34ed794.d0b928","type":"ftp","z":"","host":"w0073b06.kasserver.com","port":"","secureOptions":"","user":"f01335b0","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"8379d7d9.bc3db8","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.3.71","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"5000","name":"","vartable":[{"addr":"DB1015,WORD36","name":"Power_T1"},{"addr":"DB1016,INT24","name":"Temp_Outdoor"},{"addr":"DB1140,WORD8","name":"Lager_Vib_Ist"},{"addr":"DB1166,WORD24","name":"Leit_T1"},{"addr":"DB1151,REAL2","name":"T1_Std_Geno"},{"addr":"DB1152,REAL2","name":"T1_Std_Hydr"},{"addr":"DB1021,INT2","name":"Pegel_E_set"},{"addr":"DB1153,REAL2","name":"Std_Pump_1"},{"addr":"DB1154,REAL2","name":"Std_Pump_2"},{"addr":"DB1163,WORD4","name":"T1_Hyd_Press"},{"addr":"DB1163,X28.0","name":"T1_Hyd_Status"}]},{"id":"76998891.d41bf8","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":4,"width":"4","height":"1","name":"Fernstart Krafthaus","label":"{{msg.topic}}","format":"","layout":"row-spread","x":630,"y":240,"wires":[]},{"id":"88ae6cf3.c4f8d8","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":13,"width":0,"height":0,"name":"Parkstellung unten","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":300,"wires":[]},{"id":"e9ac78a6.b33528","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":6,"width":"4","height":"1","name":"Hydraulik Pumpe","label":"{{msg.topic}}","format":"","layout":"row-spread","x":630,"y":640,"wires":[]},{"id":"e6a49399.29afe8","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":8,"width":"4","height":"1","name":"Spülpumpe","label":"{{msg.topic}}","format":"","layout":"row-spread","x":610,"y":780,"wires":[]},{"id":"6c11b364.40126c","type":"ui_button","z":"36e594f0.d04414","name":"","group":"58c6ae1.5b7e85","order":1,"width":0,"height":0,"passthru":false,"label":"Rechenvorgang starten","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":390,"y":80,"wires":[["27dbb90a.c3187e"]]},{"id":"7055be6e.641fd","type":"ui_toast","z":"36e594f0.d04414","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Hydraulik-Pumpe","x":630,"y":700,"wires":[]},{"id":"50bde743.31f4","type":"ui_toast","z":"36e594f0.d04414","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"PopUP - Spülpumpe ein","x":650,"y":820,"wires":[]},{"id":"27dbb90a.c3187e","type":"trigger","z":"36e594f0.d04414","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":600,"y":80,"wires":[["632d76cf.d21828"]]},{"id":"f4c62527.6d4d28","type":"comment","z":"36e594f0.d04414","name":"Rechen-Status","info":"","x":200,"y":200,"wires":[]},{"id":"591ad68a.d91fc8","type":"comment","z":"36e594f0.d04414","name":"Rechen-Steuerung","info":"","x":210,"y":40,"wires":[]},{"id":"f683255d.aa0698","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"inaktiv\"\n    msg.background = \"grey\";\n    return msg;}\nelse{\n    msg.payload = \"ausgelöst\"\n    msg.background = \"orange\";\nreturn msg;}","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["76998891.d41bf8","e12d32cd.6989b"]]},{"id":"660e14fc.c774cc","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"red\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":410,"y":800,"wires":[["e6a49399.29afe8","50bde743.31f4","1f520a56.7dab2e"]]},{"id":"173a95b.4f03a6a","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"red\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["e9ac78a6.b33528","7055be6e.641fd","ced8d67a.991cf"]]},{"id":"15dcb57d.7b2bfb","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":10,"width":0,"height":0,"name":"Rechen Endlage oben","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":480,"wires":[]},{"id":"e6d5f9d3.a76d","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":12,"width":0,"height":0,"name":"Rechen Endlage unten","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":540,"wires":[]},{"id":"13ed0174.1902cf","type":"ui_text","z":"36e594f0.d04414","group":"15b9f79a.46fc3","order":11,"width":0,"height":0,"name":"Rechen Endlage Mitte","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":600,"wires":[]},{"id":"452fe89f.da56e","type":"ui_button","z":"36e594f0.d04414","name":"Automatikbetrieb","group":"15b9f79a.46fc3","order":2,"width":0,"height":0,"passthru":false,"label":"{{msg.topic}} {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":360,"wires":[[]]},{"id":"f9f9c037.bd67b8","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"red\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["452fe89f.da56e"]]},{"id":"632d76cf.d21828","type":"s7 out","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","variable":"M01","name":"","x":770,"y":80,"wires":[]},{"id":"85d0afa2.b57528","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"M01","diff":true,"name":"","x":170,"y":80,"wires":[["6c11b364.40126c"]]},{"id":"c13eb7e4.e4d1b8","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Fernstart von Krafthaus","diff":true,"name":"","x":220,"y":240,"wires":[["f683255d.aa0698","4f2cb59.8e551cc"]]},{"id":"695c423a.6608a4","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Parkstellung unten","diff":true,"name":"","x":210,"y":300,"wires":[["88ae6cf3.c4f8d8"]]},{"id":"a4beef2f.ad6908","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Automatik-Betrieb","diff":true,"name":"","x":210,"y":360,"wires":[["f9f9c037.bd67b8"]]},{"id":"5a1cf34b.40898c","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Überstrom","diff":true,"name":"","x":180,"y":420,"wires":[["474dc734.9e8fd"]]},{"id":"712cc498.dcee74","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Rechen Endlage Oben","diff":true,"name":"","x":220,"y":480,"wires":[["19151d0a.7a055b"]]},{"id":"b302f462.188458","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Parkstellung unten","diff":true,"name":"","x":210,"y":540,"wires":[["6a5f2f28.a8918"]]},{"id":"f028fbe.ac4ed88","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Rechen Endlage Mitte","diff":true,"name":"","x":220,"y":600,"wires":[["cc2dd9de.8c3ae"]]},{"id":"4cc78c01.c72204","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Hydraulik-Pumpe","diff":true,"name":"","x":200,"y":680,"wires":[["173a95b.4f03a6a","1a6916d7.6d1351"]]},{"id":"5e178781.37f53","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Spül-Pumpe","diff":true,"name":"","x":190,"y":800,"wires":[["660e14fc.c774cc","b3d181e9.11edd8"]]},{"id":"108dc343.aece5d","type":"ui_button","z":"78f172d6.d98214","name":"PING Logo Rechenhaus","group":"b4c507da.303e8","order":10,"width":0,"height":0,"passthru":false,"label":"Logo Rechenhaus ({{msg.topic}}) ({{msg.payload}})","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":380,"wires":[[]]},{"id":"f1704878.5e40d","type":"ui_button","z":"78f172d6.d98214","name":"PING Fritzbox","group":"b4c507da.303e8","order":2,"width":0,"height":0,"passthru":false,"label":"Fritzbox ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":600,"y":180,"wires":[[]]},{"id":"1504e3c5.ae7d84","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["f1704878.5e40d"]]},{"id":"682dd8d1.df603","type":"ui_button","z":"78f172d6.d98214","name":"PING Homematic","group":"b4c507da.303e8","order":3,"width":0,"height":0,"passthru":false,"label":"Homematic ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":220,"wires":[[]]},{"id":"30f1fdf4.ba4d6a","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["682dd8d1.df603"]]},{"id":"3e4d8712.d1e828","type":"ui_button","z":"78f172d6.d98214","name":"PING IOBroker","group":"b4c507da.303e8","order":9,"width":0,"height":0,"passthru":false,"label":"IOBroker ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":600,"y":260,"wires":[[]]},{"id":"1174ad7c.53fa53","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["3e4d8712.d1e828"]]},{"id":"5f7043e4.0dbb84","type":"ui_button","z":"78f172d6.d98214","name":"PING Fritz Repeater","group":"b4c507da.303e8","order":12,"width":0,"height":0,"passthru":false,"label":"Fritz Repeater ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":300,"wires":[[]]},{"id":"dc83a2c.1ffe3e","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["5f7043e4.0dbb84"]]},{"id":"9fb8ab1b.01eae","type":"ui_button","z":"78f172d6.d98214","name":"PING WLAN Wehr","group":"b4c507da.303e8","order":11,"width":0,"height":0,"passthru":false,"label":"WLAN Wehr ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":340,"wires":[[]]},{"id":"bbeb671a.f68c48","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["9fb8ab1b.01eae"]]},{"id":"ad21998d.a20208","type":"ui_button","z":"78f172d6.d98214","name":"PING Kamera 151","group":"b4c507da.303e8","order":8,"width":0,"height":0,"passthru":false,"label":"Kamera 151 ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":580,"wires":[[]]},{"id":"61147acf.560244","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["ad21998d.a20208"]]},{"id":"6d198d52.d00244","type":"ui_button","z":"78f172d6.d98214","name":"PING Kamera 152","group":"b4c507da.303e8","order":7,"width":0,"height":0,"passthru":false,"label":"Kamera 152 ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":620,"wires":[[]]},{"id":"c3cc71f8.f95","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["6d198d52.d00244"]]},{"id":"1fde9f48.d1b719","type":"ui_button","z":"78f172d6.d98214","name":"PING Kamera 153","group":"b4c507da.303e8","order":6,"width":0,"height":0,"passthru":false,"label":"Kamera 153 ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"{{msg.payload}}","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":660,"wires":[[]]},{"id":"5eeb5acf.d40e94","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["1fde9f48.d1b719"]]},{"id":"dba3be0f.6b914","type":"ui_button","z":"78f172d6.d98214","name":"PING Kamera 154 (Eingangstüre)","group":"b4c507da.303e8","order":4,"width":0,"height":0,"passthru":false,"label":"Kamera Krafthaus ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":660,"y":700,"wires":[[]]},{"id":"d419d0eb.fad2d8","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["dba3be0f.6b914"]]},{"id":"fe8b5b2f.f35808","type":"ui_button","z":"78f172d6.d98214","name":"PING Kamera 155","group":"b4c507da.303e8","order":5,"width":0,"height":0,"passthru":false,"label":"Kamera 155 ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":740,"wires":[[]]},{"id":"b7d0222c.594c4","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":740,"wires":[["fe8b5b2f.f35808"]]},{"id":"902e5155.25cba8","type":"ui_button","z":"78f172d6.d98214","name":"Logo Rechenhaus","group":"15b9f79a.46fc3","order":1,"width":0,"height":0,"passthru":false,"label":"Logo Rechenhaus ({{msg.topic}}) {{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":420,"wires":[[]]},{"id":"80d6a0e0.79ef98","type":"ping","z":"78f172d6.d98214","name":"PING Fritzbox","host":"192.168.3.1","timer":"60","inputs":0,"x":110,"y":180,"wires":[["1504e3c5.ae7d84"]]},{"id":"463f638c.ce100c","type":"ping","z":"78f172d6.d98214","name":"PING Homematic","host":"192.168.3.250","timer":"60","inputs":0,"x":120,"y":220,"wires":[["30f1fdf4.ba4d6a"]]},{"id":"56470940.825ab8","type":"ping","z":"78f172d6.d98214","name":"PING IOBroker","host":"192.168.3.249","timer":"60","inputs":0,"x":120,"y":260,"wires":[["1174ad7c.53fa53"]]},{"id":"d537b82b.22706","type":"ping","z":"78f172d6.d98214","name":"PING Fritz Repeater","host":"192.168.3.253","timer":"60","inputs":0,"x":130,"y":300,"wires":[["dc83a2c.1ffe3e"]]},{"id":"1e9dcca0.a98d93","type":"ping","z":"78f172d6.d98214","name":"PING WLAN Wehr","host":"192.168.3.252","timer":"60","inputs":0,"x":130,"y":340,"wires":[["bbeb671a.f68c48"]]},{"id":"729fc026.bf89b8","type":"ping","z":"78f172d6.d98214","name":"PING Logo Rechenhaus","host":"192.168.3.75","timer":"10","inputs":0,"x":150,"y":420,"wires":[["4e0af6c6.5ad89","408b1bd6.296944","3012ef81.f65c2"]]},{"id":"a54211b4.1770c","type":"ping","z":"78f172d6.d98214","name":"PING Kamera 151","host":"192.168.3.151","timer":"10","inputs":0,"x":130,"y":560,"wires":[["61147acf.560244","43ca9c9a.3c655c"]]},{"id":"63564317.a542dc","type":"ping","z":"78f172d6.d98214","name":"PING Kamera 152","host":"192.168.3.152","timer":"60","inputs":0,"x":130,"y":620,"wires":[["c3cc71f8.f95"]]},{"id":"abebb722.8c784","type":"ping","z":"78f172d6.d98214","name":"PING Kamera 153","host":"192.168.3.153","timer":"10","inputs":0,"x":130,"y":660,"wires":[["5eeb5acf.d40e94"]]},{"id":"b7b73efd.036dc","type":"ping","z":"78f172d6.d98214","name":"PING Kamera 154 (Eingangstüre)","host":"192.168.3.154","timer":"60","inputs":0,"x":170,"y":700,"wires":[["d419d0eb.fad2d8"]]},{"id":"9aae27ad.5fd378","type":"ping","z":"78f172d6.d98214","name":"PING Kamera 155","host":"192.168.3.155","timer":"60","inputs":0,"x":130,"y":740,"wires":[["b7d0222c.594c4"]]},{"id":"690acf4d.149bd","type":"comment","z":"36e594f0.d04414","name":"Rechen-Statistik","info":"","x":200,"y":900,"wires":[]},{"id":"aa707d2b.dfc438","type":"function","z":"36e594f0.d04414","name":"Zähler um 1 erhöhen","func":"if (msg.payload === true){\nvar msg1 = { payload: msg.increment = 1 };\nreturn [msg1];\n} else \nreturn [null];","outputs":1,"noerr":0,"x":540,"y":960,"wires":[[]]},{"id":"e60e23eb.d894f8","type":"ui_text","z":"36e594f0.d04414","group":"d5a982ba.b33d88","order":3,"width":0,"height":0,"name":"","label":"Fernstarts seit Mitternacht","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":960,"wires":[]},{"id":"57806e30.9522e8","type":"function","z":"36e594f0.d04414","name":"Reset Counter","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1020,"wires":[[]]},{"id":"6c0f2f70.2aeb8","type":"inject","z":"36e594f0.d04414","name":"Zähler um Mitternacht zurücksetzen","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"test","payload":"true","payloadType":"bool","x":290,"y":1020,"wires":[["57806e30.9522e8"]]},{"id":"ed17a193.4b939","type":"function","z":"36e594f0.d04414","name":"Zähler um 1 erhöhen","func":"if (msg.payload === true){\nvar msg1 = { payload: msg.increment = 1 };\nreturn [msg1];\n} else \nreturn [null];","outputs":1,"noerr":0,"x":540,"y":1100,"wires":[[]]},{"id":"b7a02149.492ad8","type":"ui_text","z":"36e594f0.d04414","group":"d5a982ba.b33d88","order":3,"width":0,"height":0,"name":"","label":"Starts Hydraulik-Pumpe seit Mitternacht","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":1120,"wires":[]},{"id":"72fdc672.25223","type":"function","z":"36e594f0.d04414","name":"Reset Counter","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1160,"wires":[[]]},{"id":"1ee21af4.13678d","type":"inject","z":"36e594f0.d04414","name":"Zähler um Mitternacht zurücksetzen","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"test","payload":"true","payloadType":"bool","x":290,"y":1160,"wires":[["72fdc672.25223"]]},{"id":"f4968aec.424f88","type":"function","z":"36e594f0.d04414","name":"Zähler um 1 erhöhen","func":"if (msg.payload === true){\nvar msg1 = { payload: msg.increment = 1 };\nreturn [msg1];\n} else \nreturn [null];","outputs":1,"noerr":0,"x":540,"y":1240,"wires":[[]]},{"id":"3c3d9fea.226768","type":"ui_text","z":"36e594f0.d04414","group":"d5a982ba.b33d88","order":3,"width":0,"height":0,"name":"","label":"Starts Spülpumpe seit Mitternacht","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":1260,"wires":[]},{"id":"db3a0171.3fd5e","type":"function","z":"36e594f0.d04414","name":"Reset Counter","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1300,"wires":[[]]},{"id":"b6b3fb0d.ad0bf8","type":"inject","z":"36e594f0.d04414","name":"Zähler um Mitternacht zurücksetzen","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"test","payload":"true","payloadType":"bool","x":290,"y":1300,"wires":[["db3a0171.3fd5e"]]},{"id":"272bd0b.ae766b","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Spül-Pumpe","diff":true,"name":"","x":190,"y":1240,"wires":[["f4968aec.424f88"]]},{"id":"c8afd342.f2fdd8","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Hydraulik-Pumpe","diff":true,"name":"","x":200,"y":1100,"wires":[["ed17a193.4b939"]]},{"id":"54cf1878.f2697","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Fernstart von Krafthaus","diff":true,"name":"","x":220,"y":960,"wires":[["aa707d2b.dfc438"]]},{"id":"ab129625.697f78","type":"template","z":"36e594f0.d04414","name":"Rechenreinigung überschritten","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mehr als 10 Rechen-Reinigungen in den letzten 60 Minuten.\nBitte Rechenhaus pruefen!","output":"str","x":1010,"y":1360,"wires":[["5fd5dbe0.f20cd4"]]},{"id":"920c5573.a1415","type":"s7 in","z":"36e594f0.d04414","endpoint":"c394f38e.a3ca08","mode":"single","variable":"Fernstart von Krafthaus","diff":true,"name":"","x":220,"y":1360,"wires":[["bc9cedcf.fcc208"]]},{"id":"bc9cedcf.fcc208","type":"function","z":"36e594f0.d04414","name":"Zähler bei true erhöhen","func":"if (msg.payload === true){\nvar msg1 = { payload: msg.payload };\nreturn [msg1];\n} else \nreturn [null];","outputs":1,"noerr":0,"x":470,"y":1360,"wires":[["25f7185.0667968"]]},{"id":"25f7185.0667968","type":"timeframerlt","z":"36e594f0.d04414","name":"Counter 60 Minuten 10 Zyklen","throttleType":"count","timeLimit":"60","timeLimitType":"minutes","countLimit":"10","byresetcountLimit":"10","x":730,"y":1360,"wires":[["ab129625.697f78"]]},{"id":"5fd5dbe0.f20cd4","type":"pushover api","z":"36e594f0.d04414","keys":"a4bd1a4e.0fc238","title":"Rechenreinigung überschritten","name":"Pushover Flo","x":1230,"y":1360,"wires":[]},{"id":"1f520a56.7dab2e","type":"ui_button","z":"36e594f0.d04414","name":"Spülpumpe","group":"15b9f79a.46fc3","order":9,"width":"2","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":860,"wires":[[]]},{"id":"ced8d67a.991cf","type":"ui_button","z":"36e594f0.d04414","name":"Hydraulikpumpe","group":"15b9f79a.46fc3","order":7,"width":"2","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":740,"wires":[[]]},{"id":"e12d32cd.6989b","type":"ui_button","z":"36e594f0.d04414","name":"Fernstart","group":"15b9f79a.46fc3","order":5,"width":"2","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":600,"y":200,"wires":[[]]},{"id":"d21d663a.edaac8","type":"ui_button","z":"36e594f0.d04414","name":"Überstrom","group":"15b9f79a.46fc3","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":420,"wires":[[]]},{"id":"474dc734.9e8fd","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"green\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"red\";\nreturn msg;}","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["d21d663a.edaac8"]]},{"id":"19151d0a.7a055b","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"green\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"red\";\nreturn msg;}","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["15dcb57d.7b2bfb"]]},{"id":"6a5f2f28.a8918","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"green\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"red\";\nreturn msg;}","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["e6d5f9d3.a76d"]]},{"id":"cc2dd9de.8c3ae","type":"function","z":"36e594f0.d04414","name":"","func":"if (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"green\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"red\";\nreturn msg;}","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["13ed0174.1902cf"]]},{"id":"1b74ef2a.7e81b1","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"WKW Antonsthal","name":"Pushover Antonsthal Reiniger","x":610,"y":1360,"wires":[]},{"id":"4f2cb59.8e551cc","type":"link out","z":"36e594f0.d04414","name":"Rechenstart von Krafthaus","links":[],"x":395,"y":200,"wires":[]},{"id":"5a53b313.4db154","type":"link in","z":"b9e24737.d62e38","name":"Rechenstart Krafthaus","links":["b3d181e9.11edd8"],"x":75,"y":1300,"wires":[["72435472.1ecc4c"]]},{"id":"214a146b.3b2ff4","type":"link in","z":"b9e24737.d62e38","name":"","links":["1294ce1.d05ee32"],"x":75,"y":640,"wires":[["b55ecedd.502f2"]]},{"id":"ad6f19dc.107a8","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"Stunden Geno T1","name":"Pushover Antonsthal Stunden T1","x":580,"y":640,"wires":[]},{"id":"b55ecedd.502f2","type":"function","z":"b9e24737.d62e38","name":"Stunden von bis","func":"if (msg.payload > 8944.998 && msg.payload < 8944.999){\nvar newpayload = \"Aktuelle Stunden: \" + msg.payload;\nvar msg = { payload: newpayload };\nreturn msg;\n} else {\nmsg = { payload:false };\nreturn null;\n}","outputs":1,"noerr":0,"x":240,"y":640,"wires":[["ad6f19dc.107a8","161ec510.7c5d7b"]]},{"id":"161ec510.7c5d7b","type":"ui_toast","z":"b9e24737.d62e38","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Push","x":490,"y":680,"wires":[]},{"id":"4e0af6c6.5ad89","type":"function","z":"78f172d6.d98214","name":"","func":"\nreturn {\"payload\": msg.payload, \"topic\":\"Ping Logo\"};","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["2d3f12a5.978d1e"]]},{"id":"2d3f12a5.978d1e","type":"ui_chart","z":"78f172d6.d98214","name":"","group":"b4c507da.303e8","order":1,"width":"0","height":"0","label":"Verlauf Ping 3h","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"20","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":600,"y":500,"wires":[[],[]]},{"id":"43ca9c9a.3c655c","type":"function","z":"78f172d6.d98214","name":"","func":"// var newpaload = msg.payload;\n\nreturn {\"payload\": msg.payload, \"topic\":\"Ping Cam151\"};","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["2d3f12a5.978d1e"]]},{"id":"408b1bd6.296944","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["108dc343.aece5d"]]},{"id":"3012ef81.f65c2","type":"function","z":"78f172d6.d98214","name":"","func":"if (msg.payload === false){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["902e5155.25cba8"]]},{"id":"e54219bc.cf224","type":"function","z":"b9e24737.d62e38","name":"lower then -349","func":"if (msg.payload < -349){\nvar newpayload = \"Aktueller Pegel am Wehr: \" + msg.payload + \" mm\" + \"\\n\" + \"Schwellwert: \" + \"-349\" + \" mm\";\n\nvar msg = { payload: newpayload };\nreturn msg;\n} else {\nmsg = { payload:false };\nreturn null;\n}","outputs":1,"noerr":0,"x":200,"y":860,"wires":[["3945923f.8c905e"]]},{"id":"f464b9ac.347f5","type":"link in","z":"b9e24737.d62e38","name":"Pegel Wehr","links":["e65aab39.ac0c18"],"x":55,"y":860,"wires":[["e54219bc.cf224","2bf24233.46cb6e"]]},{"id":"c739f3f6.6292d8","type":"function","z":"b9e24737.d62e38","name":"higher than 50 + image","func":"if (msg.payload[0] > 50 && msg.payload[1] >= 0)\n{\nnode.status({text: msg.payload[1] });\n\nmsg.payload = \"Aktueller Pegel Vorrechen: \" + msg.payload[0] + \" mm\" + \"\\n\" + \"Schwellwert: \" + \"+50\" + \" mm\" + \"\\n\" + \"Leitsung: \" +  msg.payload[1] + \" kW\";\n\n//msg.image = \"http://192.168.3.151/cgi-bin/CGIProxy.fcgi?cmd=snapPicture&usr=admin&pwd=!hydropower1\";\nmsg.image =  \"http://192.168.103.223/snap.jpeg\";\nreturn msg;\n} \n\nelse {\nmsg.payload = false ;\n\n\nreturn null;\n}","outputs":1,"noerr":0,"x":470,"y":1100,"wires":[["18498a42.61b6a6","dfc467fa.683e8"]]},{"id":"3e3ed561.8394ea","type":"link in","z":"b9e24737.d62e38","name":"Pegel Wehr","links":["31a92661.6b8cb2"],"x":35,"y":1080,"wires":[["5c5e48d3.88b0d"]]},{"id":"73e41b04.ffa4bc","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"Pegle Wehr:","name":"Pegel Wehr:","x":890,"y":820,"wires":[]},{"id":"85c1b008.4cef48","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"Pegel Vorrechen:","name":"Pegel Vorrechen","x":1020,"y":1120,"wires":[]},{"id":"9137bea0.92a538","type":"ui_toast","z":"b9e24737.d62e38","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Push","x":870,"y":880,"wires":[]},{"id":"fd1d2c9b.11698","type":"ui_toast","z":"b9e24737.d62e38","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Push","x":910,"y":1060,"wires":[]},{"id":"18498a42.61b6a6","type":"trigger","z":"b9e24737.d62e38","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":700,"y":1060,"wires":[["fd1d2c9b.11698","7efa6a68.ca617c"]]},{"id":"2bf24233.46cb6e","type":"function","z":"b9e24737.d62e38","name":"higher then +65mm","func":"if (msg.payload > 65){\nvar newpayload = \"Aktueller Pegel am Wehr: \" + msg.payload + \" mm\" + \"\\n\" + \"Schwellwert: \" + \" +65\" + \" mm\";\n\nmsg = { payload: newpayload };\nreturn msg;\n} else {\nmsg = { payload:false };\nreturn null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":900,"wires":[["59df1a68.605bcc"]]},{"id":"ae501822.92b62","type":"comment","z":"b9e24737.d62e38","name":"Alarmierung Wehr","info":"","x":110,"y":820,"wires":[]},{"id":"79fbf61f.9ea0b","type":"comment","z":"b9e24737.d62e38","name":"Alarmierung Rechenhaus","info":"","x":110,"y":1220,"wires":[]},{"id":"daf9152e.0615c","type":"comment","z":"b9e24737.d62e38","name":"Alarmierung Grobrechen","info":"","x":130,"y":940,"wires":[]},{"id":"5e8eccc4.978094","type":"link in","z":"b9e24737.d62e38","name":"","links":["e65aab39.ac0c18"],"x":35,"y":980,"wires":[["2f83edd8.69e882"]]},{"id":"ef290647.4f292","type":"link in","z":"b9e24737.d62e38","name":"","links":["31a92661.6b8cb2"],"x":35,"y":1020,"wires":[["7ac01cec.b20e74"]]},{"id":"2f83edd8.69e882","type":"function","z":"b9e24737.d62e38","name":"1 wehr","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 1;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":980,"wires":[["34d92cf2.f85fa4"]]},{"id":"7ac01cec.b20e74","type":"function","z":"b9e24737.d62e38","name":"2 vorrechen","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 0;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1020,"wires":[["34d92cf2.f85fa4"]]},{"id":"34d92cf2.f85fa4","type":"join","z":"b9e24737.d62e38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":310,"y":980,"wires":[[]]},{"id":"37a48729.4b3e3","type":"function","z":"b9e24737.d62e38","name":"dirty giant rake","func":"if (msg.payload < -550){\nvar newpayload = \"Grobrechen verschmutzt: \" + msg.payload + \" mm\" + \"\\n\" + \"Schwellwert: \" + \"-550\" + \" mm\";\n\nvar msg = { payload: newpayload };\nreturn msg;\n} else {\nmsg = { payload:false };\nreturn null;\n}","outputs":1,"noerr":0,"x":640,"y":980,"wires":[["f7a45901.6bf34"]]},{"id":"7af68329.acc08c","type":"calculator","z":"b9e24737.d62e38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":460,"y":960,"wires":[["37a48729.4b3e3","242c647a.5fafac"]]},{"id":"8bae452a.df8508","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"Grobrechen Verschmutzt","name":"Grobrechen","x":1010,"y":980,"wires":[]},{"id":"242c647a.5fafac","type":"function","z":"b9e24737.d62e38","name":"","func":"if (msg.payload < -200){\n    msg.background = \"red\";\n    return msg;}\nelse{msg.background =\"green\";\nreturn msg;}","outputs":1,"noerr":0,"x":610,"y":940,"wires":[["6827d180.4f37c8"]]},{"id":"6827d180.4f37c8","type":"ui_button","z":"b9e24737.d62e38","name":"Grob","group":"1a887d1a.60961b","order":10,"width":0,"height":0,"passthru":false,"label":"Grobrechen Diff. {{msg.payload}} mm","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":940,"wires":[[]]},{"id":"f7a45901.6bf34","type":"trigger","z":"b9e24737.d62e38","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":830,"y":980,"wires":[["8bae452a.df8508"]]},{"id":"cefe0c0c.450b78","type":"comment","z":"b9e24737.d62e38","name":"Pegel pre Time","info":"","x":80,"y":1500,"wires":[]},{"id":"57c5c35d.a6461c","type":"link in","z":"b9e24737.d62e38","name":"","links":["31a92661.6b8cb2"],"x":55,"y":1540,"wires":[["886669b3.5a2aa8","63c25a5b.bf3d6c"]]},{"id":"886669b3.5a2aa8","type":"delay","z":"b9e24737.d62e38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1600,"wires":[["bc98827e.298b4"]]},{"id":"93fc961a.d3b9e","type":"join","z":"b9e24737.d62e38","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1540,"wires":[[]]},{"id":"63c25a5b.bf3d6c","type":"function","z":"b9e24737.d62e38","name":"part 1","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 0;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1540,"wires":[["93fc961a.d3b9e"]]},{"id":"bc98827e.298b4","type":"function","z":"b9e24737.d62e38","name":"part 2","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 1;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1600,"wires":[["93fc961a.d3b9e"]]},{"id":"a146321d.d4de08","type":"calculator","z":"b9e24737.d62e38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"1","x":820,"y":1560,"wires":[["24ccf62f.f6940a"]]},{"id":"24ccf62f.f6940a","type":"ui_chart","z":"b9e24737.d62e38","d":true,"name":"","group":"1a887d1a.60961b","order":11,"width":0,"height":0,"label":"Pegeländerung Vorrechen","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":1480,"wires":[[]]},{"id":"52f7ca59.cf874c","type":"calculator","z":"b9e24737.d62e38","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"","x":670,"y":1560,"wires":[["a146321d.d4de08"]]},{"id":"35e34466.f8c33c","type":"ping","z":"78f172d6.d98214","name":"PING S7 Wehr 80","host":"192.168.3.80","timer":"60","inputs":0,"x":120,"y":500,"wires":[["bc0aa567.def9c8"]]},{"id":"bc0aa567.def9c8","type":"function","z":"78f172d6.d98214","name":"","func":"// var newpaload = msg.payload;\n\nreturn {\"payload\": msg.payload, \"topic\":\"Ping S7 Wehr\"};","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["2d3f12a5.978d1e"]]},{"id":"56b88f3e.cffb","type":"link in","z":"b9e24737.d62e38","name":"","links":["2a4dd368.f7cdcc"],"x":35,"y":1120,"wires":[["bfa978d1.b6d788"]]},{"id":"5c5e48d3.88b0d","type":"function","z":"b9e24737.d62e38","name":"part 1","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 0;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1080,"wires":[["f4cb75a8.bfa318"]]},{"id":"bfa978d1.b6d788","type":"function","z":"b9e24737.d62e38","name":"part 2","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 1;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1120,"wires":[["f4cb75a8.bfa318"]]},{"id":"f4cb75a8.bfa318","type":"join","z":"b9e24737.d62e38","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":1100,"wires":[["c739f3f6.6292d8"]]},{"id":"dfc467fa.683e8","type":"debug","z":"b9e24737.d62e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":1160,"wires":[]},{"id":"f0b9fd26.5a8b4","type":"link in","z":"c5cb235c.8c667","name":"","links":["2a4dd368.f7cdcc"],"x":175,"y":60,"wires":[["a0b3c2b4.245328","441f0399.5214e4"]]},{"id":"bacf0cab.0314a","type":"comment","z":"c5cb235c.8c667","name":"Main Power","info":"","x":90,"y":20,"wires":[]},{"id":"38fec248.b5f616","type":"link in","z":"c5cb235c.8c667","name":"","links":["e65aab39.ac0c18"],"x":175,"y":140,"wires":[["3303f30e.658a2c","50d498f2.b84718"]]},{"id":"6b4b7243.e99e04","type":"mqtt out","z":"c5cb235c.8c667","name":"","topic":"","qos":"0","retain":"","broker":"8a45ab94.308bc8","x":630,"y":140,"wires":[]},{"id":"5d5bf5eb.2802ec","type":"debug","z":"c5cb235c.8c667","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":440,"wires":[]},{"id":"1266e534.7211d3","type":"link in","z":"c5cb235c.8c667","name":"","links":["e33d65e9.cbe8d"],"x":175,"y":220,"wires":[["aecae1b0.c654a8","e095b7fe.e1fc"]]},{"id":"a0b3c2b4.245328","type":"delay","z":"c5cb235c.8c667","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":60,"wires":[["6b4b7243.e99e04"]]},{"id":"3303f30e.658a2c","type":"delay","z":"c5cb235c.8c667","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":140,"wires":[["6b4b7243.e99e04"]]},{"id":"aecae1b0.c654a8","type":"delay","z":"c5cb235c.8c667","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":220,"wires":[["6b4b7243.e99e04"]]},{"id":"f31a42ab.179b2","type":"delay","z":"c5cb235c.8c667","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":300,"wires":[["6b4b7243.e99e04"]]},{"id":"7b0b85f1.2b2f1c","type":"link in","z":"c5cb235c.8c667","name":"","links":["31a92661.6b8cb2"],"x":175,"y":300,"wires":[["f31a42ab.179b2","d853309c.51c6a8"]]},{"id":"2bafc6e8.13cbca","type":"comment","z":"b9e24737.d62e38","name":"Push","info":"","x":50,"y":40,"wires":[]},{"id":"d737783d.0c7ca","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"WKW Antonsthal","name":"WKW Antonsthal","x":930,"y":120,"wires":[]},{"id":"f59d8e47.f84a98","type":"comment","z":"78f172d6.d98214","name":"HomeMatic","info":"","x":70,"y":820,"wires":[]},{"id":"fd3e2269.5138e8","type":"homematic","z":"78f172d6.d98214","d":true,"ccu":"","device":"ae61b729.5bb6d8","function":"getValue","attribute":"WINDOW_STATE","value":"","nodeName":"","x":100,"y":880,"wires":[["e3311760.9b3038"]]},{"id":"e3311760.9b3038","type":"ui_switch","z":"78f172d6.d98214","name":"","label":"switch","tooltip":"","group":"b4c507da.303e8","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":880,"wires":[[]]},{"id":"e8bb18d6.0799","type":"comment","z":"b9e24737.d62e38","name":"Start Spühlpumpe","info":"","x":110,"y":1260,"wires":[]},{"id":"72435472.1ecc4c","type":"delay","z":"b9e24737.d62e38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1300,"wires":[["c5bec0d7.d843f8"]]},{"id":"176a6c81.607cd3","type":"function","z":"b9e24737.d62e38","name":"Daily Push 3.0 image","func":"var datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||\"OFF\";\nvar t2 = global.get(\"t2_power\")||\"OFF\";\nvar topic = msg.topic;\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\n\n\nmsg.payload = topic + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + \"Leistung-T1: \" + t1 + \"kW\" + '\\n' + \"Leistung-T2: \" + t2 + \"kW\" + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\nmsg.image =\"http://192.168.103.206/snap.jpeg\";\nmsg.sound = \"vibrate\";\n\n\n//msg.topic = 'WKW Antonsthal: ' + topic;\nnode.status({text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["648832bf.21ea14","d737783d.0c7ca"]]},{"id":"5a102a6b.0d05dc","type":"inject","z":"b9e24737.d62e38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"12 09 * * *","once":false,"onceDelay":0.1,"topic":"Status 9 Uhr","payload":"","payloadType":"date","x":150,"y":80,"wires":[["c4e092ab.96b648"]]},{"id":"7fac8210.acdff4","type":"inject","z":"b9e24737.d62e38","name":"","repeat":"","crontab":"11 18 * * *","once":false,"onceDelay":0.1,"topic":"Status 18:11 Uhr","payload":"","payloadType":"date","x":160,"y":120,"wires":[["c4e092ab.96b648"]]},{"id":"2374d91c.b39ba6","type":"pushover api","z":"ded9eabf.f0964","keys":"a4bd1a4e.0fc238","title":"neuer Service-Eintrag","name":"neuer Service-Eintrag","x":740,"y":60,"wires":[]},{"id":"46473dee.54b334","type":"inject","z":"ded9eabf.f0964","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":440,"wires":[["72f76677.072c8"]]},{"id":"72f76677.072c8","type":"file in","z":"ded9eabf.f0964","name":"","filename":"/home/pi/service.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":440,"wires":[["910a7630.d26608"]]},{"id":"240183f2.daa8ac","type":"csv","z":"ded9eabf.f0964","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date, name, kwh, h_t1, t1","skip":"0","x":430,"y":100,"wires":[["bb6969ae.b8012","2374d91c.b39ba6","a92ba32f.0fe17"]]},{"id":"edef09fa.3a374","type":"comment","z":"ded9eabf.f0964","name":"Service Eintrag CSV","info":"","x":90,"y":60,"wires":[]},{"id":"b19ff993.6af2a8","type":"inject","z":"ded9eabf.f0964","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Franz\",\"kwh\":230232,\"h_t1\":3232.3,\"t1\":true}","payloadType":"json","x":80,"y":220,"wires":[["34e37106.1140fe"]]},{"id":"a92ba32f.0fe17","type":"debug","z":"ded9eabf.f0964","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"bb6969ae.b8012","type":"file","z":"ded9eabf.f0964","name":"","filename":"/home/pi/service.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":740,"y":100,"wires":[[]]},{"id":"7b37f5d2.fdeccc","type":"comment","z":"ded9eabf.f0964","name":"Lese Eintrag CSV","info":"","x":80,"y":400,"wires":[]},{"id":"e7a74e23.2abd38","type":"comment","z":"ded9eabf.f0964","name":"Schreibe Eintrag CSV","info":"","x":100,"y":180,"wires":[]},{"id":"910a7630.d26608","type":"ui_template","z":"ded9eabf.f0964","group":"c315bcc3.8c8b3","name":"","order":1,"width":"6","height":"15","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":440,"wires":[[]]},{"id":"34e37106.1140fe","type":"function","z":"ded9eabf.f0964","name":"add current date","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n} \n  \n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.payload.date = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["fc856a9d.c829f8","240183f2.daa8ac"]]},{"id":"fc856a9d.c829f8","type":"debug","z":"ded9eabf.f0964","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":240,"wires":[]},{"id":"4a6ae864.74d688","type":"ui_form","z":"ded9eabf.f0964","name":"","label":"neuer Eintrag","group":"fd66b81a.ab4ab8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true},{"label":"Kilowattstunden","value":"kwh","type":"text","required":true},{"label":"Stunden T1","value":"h_t1","type":"text","required":true},{"label":"Schmierung T1","value":"t1","type":"checkbox","required":true}],"formValue":{"name":"","kwh":"","h_t1":"","t1":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["34e37106.1140fe"]]},{"id":"8fd4138b.e4b918","type":"e-mail","z":"b9e24737.d62e38","server":"w0073b06.kasserver.com","port":"465","secure":true,"tls":true,"name":"","dname":"WKW Antonsthal-->msg.to","x":1080,"y":480,"wires":[]},{"id":"3884d9c1.85bd46","type":"function","z":"b9e24737.d62e38","name":"add msg.to HASSE ????","func":"msg.to = \"???\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":480,"wires":[[]]},{"id":"f699f3f0.54d93","type":"comment","z":"b9e24737.d62e38","name":"Warunung T1 unter 80kW","info":"","x":130,"y":720,"wires":[]},{"id":"9db39812.71d59","type":"link in","z":"b9e24737.d62e38","name":"","links":["f0d86f06.161bb8"],"x":55,"y":760,"wires":[["c297a990.771558"]]},{"id":"c297a990.771558","type":"function","z":"b9e24737.d62e38","name":"lower then 80 kW","func":"if (msg.payload > 0 && msg.payload < 80){\nvar newpayload = \"Leistung T1: \" + msg.payload + \" kW\" + \"\\n\" + \"Schwellwert: \" + \"80\" + \" kW\";\n\nvar msg = { payload: newpayload };\nreturn msg;\n} else {\nmsg = { payload:false };\nreturn null;\n}","outputs":1,"noerr":0,"x":210,"y":760,"wires":[[]]},{"id":"1d2f4330.7cca0d","type":"trigger","z":"b9e24737.d62e38","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":420,"y":740,"wires":[["1228e235.c9e446"]]},{"id":"1228e235.c9e446","type":"pushover api","z":"b9e24737.d62e38","keys":"a4bd1a4e.0fc238","title":"low Power T1","name":"low Power T1","x":620,"y":760,"wires":[]},{"id":"aecb6266.1ced4","type":"inject","z":"b9e24737.d62e38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"75","payload":"75","payloadType":"num","x":290,"y":800,"wires":[["c297a990.771558"]]},{"id":"9e6e8c2e.36422","type":"influxdb out","z":"ab4eedf4.584cf","influxdb":"9730f828.195bf8","name":"WKW Antonsthal","measurement":"wkw_antonsthal_pegel","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1050,"y":1160,"wires":[]},{"id":"3bb61e0b.21ea2a","type":"link in","z":"ab4eedf4.584cf","name":"","links":["31bf7c0.7836084"],"x":255,"y":1040,"wires":[["849e3280.3a5518"]]},{"id":"849e3280.3a5518","type":"function","z":"ab4eedf4.584cf","name":"Parse message","func":"/* 20;02;DKW2012;ID=0043;TEMP=8010;HUM=88;WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK; */\nvar Pegel = {};\n//msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n\nmsg.payload = msg.payload.replace(\",\",\".\");\nmsg.payload = msg.payload.replace(\"<br/>\",\" \");\nmsg.payload = msg.payload.replace(\"<br/>\",\" \");\nmsg.payload = msg.payload.replace(\":\",\"\");\nmsg.payload = msg.payload.replace(\":\",\"\");\nmsg.payload = msg.payload.replace(\":\",\"\");\nvar parts433 = msg.payload.split(\" \");\n\nPegel.Wname = parts433[0];\nPegel.Wvalue = parts433[1];\nPegel.Wunit = parts433[2];\nPegel.Fname = parts433[3];\nPegel.Fvalue = parts433[4];\nPegel.Funit = parts433[5];\nPegel.warnname = parts433[6];\nPegel.warnstring = parts433[7] + \" \"+ parts433[8];\n\n/*\nfor (var i=8; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\n*/\n\nmsg.Pegel = Pegel;\nmsg.topic=\"Johanngeorgenstadt 4\";\n\nreturn msg;\n\n/*\n\"Wasserstand: 28 cm<br/>Durchfluss: 0,406 m³/s<br/>Meldestufe: Kein Hochwasser\"\n\nvar index = msg.parts.index;\n\nvar water1 = msg.payload;\nvar arrwater1 = water1.split(\":\");\nvar subwater1 = arrwater1[1]\n\nvar waterdepth = subwater1.split(\"c\");\n\n water1 = msg.payload;\n arrwater1 = water1.split(\":\");\nvar subwater2 = arrwater1[2];\nvar waterflow = subwater2.split(\"<\");\n\n\nvar datetime = msg.article.date;\nvar arrdate = datetime.split(\"T\");\n\nvar water = msg.article.description;\n\nvar msg1 = { payload: index };\nvar msg2 = { payload: datetime };\nvar msg3 = { payload: waterdepth[0] };\nvar msg4 = { payload: waterflow[0] };\n\nreturn [msg1, msg2, msg3, msg4];\n\n\n// So firstly a generic means of getting incoming items into an object\n\nvar the433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nnode.warn(msg.payload);\nvar parts433 = msg.payload.split(\";\");\n\nthe433.p1 = parts433[0];\nthe433.p2 = parts433[1];\nthe433.name = parts433[2];\n\nvar a = 3;\nwhile (a < parts433.length) {\n    var bits433 = parts433[a].split(\"=\");\n    switch (bits433[0]) {\n        case \"ID\": the433.id = bits433[1]; break;\n        case \"SWITCH\": the433.switch = bits433[1]; break;\n        case \"CMD\": the433.cmd = bits433[1]; break;\n        case \"SET_LEVEL\": the433.set_level = parseInt(bits433[1], 10); break;\n        case \"TEMP\": the433.temp = parseInt(bits433[1], 16) / 10; break;\n        case \"HUM\": the433.hum = parseInt(bits433[1], 10); break;\n        case \"BARO\": the433.baro = parseInt(bits433[1], 16); break;\n        case \"HSTATUS\": the433.hstatus = parseInt(bits433[1], 10); break;\n        case \"BFORECAST\": the433.bforecast = parseInt(bits433[1], 10); break;\n        case \"UV\": the433.uv = parseInt(bits433[1], 16); break;\n        case \"LUX\": the433.lux = parseInt(bits433[1], 16); break;\n        case \"BAT\": the433.bat = bits433[1]; break;\n        case \"RAIN\": the433.rain = parseInt(bits433[1], 16) / 10; break;\n        case \"RAIN\": the433.rainrate = parseInt(bits433[1], 16) / 10; break;\n        case \"WINSP\": the433.winsp = parseInt(bits433[1], 16) / 10; break;\n        case \"AWINSP\": the433.awinsp = parseInt(bits433[1], 16) / 10; break;\n        case \"WINGS\": the433.wings = parseInt(bits433[1], 16); break;\n        case \"WINDIR\": the433.windir = parseInt(bits433[1], 10); break;\n        case \"WINCHL\": the433.winchl = parseInt(bits433[1], 16); break;\n        case \"WINTMP\": the433.wintmp = parseInt(bits433[1], 16); break;\n        case \"CHIME\": the433.chime = parseInt(bits433[1], 10); break;\n        case \"SMOKEALERT\": the433.smokealert = bits433[1]; break;\n        case \"PIR\": the433.pir = bits433[1]; break;\n        case \"CO2\": the433.co2 = parseInt(bits433[1], 10); break;\n        case \"SOUND\": the433.sound = parseInt(bits433[1], 10); break;\n        case \"KWATT\": the433.kwatt = parseInt(bits433[1], 16); break;\n        case \"WATT\": the433.watt = parseInt(bits433[1], 16); break;\n        case \"CURRENT\": the433.current = parseInt(bits433[1], 10); break;\n        case \"CURRENT2\": the433.current2 = parseInt(bits433[1], 10); break;\n        case \"CURRENT3\": the433.current3 = parseInt(bits433[1], 10); break;\n        case \"DIST\": the433.dist = parseInt(bits433[1], 10); break;\n        case \"METER\": the433.meter = parseInt(bits433[1], 10); break;\n        case \"VOLT\": the433.volt = parseInt(bits433[1], 10); break;\n        case \"RGBW\": the433.rgbc = parseInt(bits433[1].substring(0, 2), 16);\n            the433.rgbw = parseInt(bits433[1].substring(2, 4), 16); break;\n    }\n    a++;\n}\n\n// SO - the above is general... here is my specific setup for temporarily displaying\n// the Acurite info\nif ((the433.p1 == \"20\") && (the433.name == \"Acurite\") && (the433.id == \"c826\")) {\n    if (typeof the433.temp !== 'undefined') temp = the433.temp;\n    if (typeof the433.hum !== 'undefined') hum = the433.hum;\n    if (typeof the433.bat !== 'undefined') bat = the433.bat;\n    if (typeof the433.rain !== 'undefined') rain = the433.rain;\n    if (typeof the433.winsp !== 'undefined') winsp = the433.winsp;\n    if (typeof the433.windir !== 'undefined') windir = the433.windir;\n\n    node.warn(\"Temperature: \" + temp + \"c\");\n    node.warn(\"Humidity: \" + hum + \"%\");\n    node.warn(\"Battery: \" + bat);\n    node.warn(\"Rain: \" + rain + \"mm\");\n    node.warn(\"Wind Speed: \" + winsp + \"km/h\");\n    node.warn(\"Wind Dir: \" + (windir * 22.5) + \" degrees\");\n}\n\n*/","outputs":1,"noerr":0,"x":400,"y":1040,"wires":[["e9207ce7.95527"]]},{"id":"297c9d6f.38e36a","type":"debug","z":"ab4eedf4.584cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":1200,"wires":[]},{"id":"e0d16928.438888","type":"inject","z":"ab4eedf4.584cf","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Wasserstand: k.A. cm<br/>Durchfluss: k.A. m³/s<br/>Meldestufe: Keine aktuellen Daten verfügbar","payloadType":"str","x":220,"y":1080,"wires":[["849e3280.3a5518"]]},{"id":"e9207ce7.95527","type":"function","z":"ab4eedf4.584cf","name":"Waterlevel conversion","func":"if (msg.Pegel.Wvalue!==undefined) {\n    msg.Pegel.Wvalue = parseInt(msg.Pegel.Wvalue, 10);\n}\nelse msg.Pegel.Wvalue=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.Pegel.Wvalue });\n\nmsg.payload = msg.Pegel.Wvalue;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1100,"wires":[["4b7aac82.6cef34","d9a0de2b.22a02"]]},{"id":"4b7aac82.6cef34","type":"function","z":"ab4eedf4.584cf","name":"Waterflow conversion","func":"if (msg.Pegel.Fvalue!==undefined) {\n    msg.Pegel.Fvalue = parseFloat(msg.Pegel.Fvalue); //parseInt parseFloat\n}\nelse msg.Pegel.Fvalue=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.Pegel.Fvalue });\n\nmsg.payload = msg.Pegel.Fvalue;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1160,"wires":[["74ce2523.7f7b4c","f5268e88.251548"]]},{"id":"c4f701c8.35fd3","type":"inject","z":"ab4eedf4.584cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2020,"wires":[["a20d5d58.7a9648"]]},{"id":"b7eecdc9.9c9608","type":"function","z":"ab4eedf4.584cf","name":"Ajax Cam TXT","func":"// var newpayload = \"Antonsthal Gesamtleistung: \" + msg.payload[\"Main_Power\"] + \" kW\" + \"\\n\" + \"Wehr: \" + msg.payload[\"Wehr\"] + \" mm\" + \"\\n\" +  msg.payload[\"Datum\"];\n\n\nvar datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar topic = msg.topic;\nvar einlauf = global.get(\"level_einlauf\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar wehr = global.get(\"level_wehr\")||0;\nvar a_temp = global.get(\"a_temp_turbine\")||\"offline\";\n\n\n//msg.payload = topic + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\n\nvar newpayload = '<br>WKW Antonsthal ' + topic + '<br>Time: '  + datum + '\\n' + \"<br>Gesamt-Leistung: \" + main + \"kW\" + '\\n' + \"<br>Pegel Einlauf: \" + einlauf + \"mm\" + \"<br>Pegel Vorrechen: \" + vorrechen + \"mm\" + \"<br>Pegel Wehr: \" + wehr + \"mm\" + \"<br>A-Temp Turbine: \" + a_temp + \"&deg;C\";\nvar msg2 = { payload: newpayload };\nnode.status({text: msg.payload });\nreturn msg2;\n\n\n// var newpayload = \"Falter Gesamtleistung: \" + payload[\"Power T1\"] + \" kW\" + \" Email vom: \" + payload[\"Datum\"];\n// var msg = { msg.payload: newpayload };\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":2540,"wires":[["fb41a12.9303f6"]]},{"id":"fb41a12.9303f6","type":"file","z":"ab4eedf4.584cf","name":"antonsthal.txt","filename":"/home/pi/antonsthal.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":580,"y":2400,"wires":[["b4b1a8b3.e403a"]]},{"id":"74d6c515.878fb4","type":"function","z":"ab4eedf4.584cf","name":"Datum 2.0","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n} \n  \n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2340,"wires":[["b7eecdc9.9c9608"]]},{"id":"6b32da6f.77b8c4","type":"comment","z":"ab4eedf4.584cf","name":" per FTP hochladen, wird in der Cam-Ajax angezeigt","info":"","x":210,"y":2260,"wires":[]},{"id":"82911788.17d19","type":"inject","z":"ab4eedf4.584cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Ajax","payload":"","payloadType":"date","x":140,"y":2320,"wires":[["74d6c515.878fb4"]]},{"id":"ec9b222.4e99e6","type":"inject","z":"ab4eedf4.584cf","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"aktuell alle 1 Minute","payload":"","payloadType":"date","x":130,"y":2360,"wires":[["74d6c515.878fb4"]]},{"id":"c4e092ab.96b648","type":"function","z":"b9e24737.d62e38","name":"now aktuelles Datum 2.0","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n} \n  \n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["176a6c81.607cd3"]]},{"id":"a5cd4d49.ee6718","type":"function","z":"b9e24737.d62e38","name":"Status Email add msg.from","func":"var datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||\"OFF\";\nvar t2 = global.get(\"t2_power\")||\"OFF\";\nvar topic = msg.topic;\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\n\nmsg.payload = \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + \"Leistung-T1: \" + t1 + \"kW\" + '\\n' + \"Leistung-T2: \" + t2 + \"kW\" + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Zeitstempel: ' + datum;\n\n\n// Infos für Email Node\nmsg.from = \"antonsthal@kaiser-hydropower.com\";\nmsg.topic = 'WKW Antonsthal: ' + topic;\n\n\nnode.status({text: datum });\nreturn msg;\n\n\n\n// msg.from = \"falter@kaiser-hydropower.com\";\n// msg.topic = \"WKW Falter - Frathau\"","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["5c6c8e0c.adf16"]]},{"id":"5c6c8e0c.adf16","type":"function","z":"b9e24737.d62e38","name":"add msg.to sudowkw@kaiser-hydropower.com","func":"msg.to = \"sudowkw@kaiser-hydropower.com\";\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["8fd4138b.e4b918","c1402cd4.735a58"]]},{"id":"17cd81e2.c8f7de","type":"function","z":"b9e24737.d62e38","name":"add msg.to holzwurmflo@gmail.com","func":"msg.to = \"holzwurmflo@gmail.com\";\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[[]]},{"id":"c8bab807.4a066","type":"inject","z":"b9e24737.d62e38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Status Test Flo","payload":"","payloadType":"date","x":150,"y":280,"wires":[["c4e092ab.96b648"]]},{"id":"c1402cd4.735a58","type":"debug","z":"b9e24737.d62e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":520,"wires":[]},{"id":"e0d192d5.344648","type":"comment","z":"b9e24737.d62e38","name":"Email","info":"","x":50,"y":420,"wires":[]},{"id":"648832bf.21ea14","type":"debug","z":"b9e24737.d62e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":180,"wires":[]},{"id":"d053bb10.c5e6f","type":"debug","z":"ab4eedf4.584cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":460,"wires":[]},{"id":"cc15ed8d.64ac5","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"// var datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||0;\nvar t2 = global.get(\"t2_power\")||0;\nvar t1_stat = global.get(\"t1_status\");\nvar t2_stat = global.get(\"t2_status\");\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\nvar e_set = global.get(\"pegel_e_set\")||0;\nvar w_set = global.get(\"pegel_w_set\")||0;\n\n\n\nmsg.payload = {\n    main_power: main,\n    t1_power: t1,\n    t2_power: t2,\n    t1_status: t1_stat,\n    t2_status: t2_stat,\n    level_wehr: wehr,\n    level_vorrechen: vorrechen,\n    level_einlauf: einlauf,\n    pegel_e_set: e_set,\n    pegel_w_set: w_set,\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["d053bb10.c5e6f","c681a0ed.c1846"]]},{"id":"74a2e363.e096ac","type":"inject","z":"ab4eedf4.584cf","name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"30s","payload":"","payloadType":"date","x":120,"y":420,"wires":[["cc15ed8d.64ac5"]]},{"id":"ead3b51e.096278","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"main_power","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["ec6a7900.8929a8"]]},{"id":"a685abc4.44c278","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"level_wehr","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["6bd8bead.f732a"]]},{"id":"6a7faeb2.d81218","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"level_einlauf","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["793223eb.124274"]]},{"id":"a8331306.b752d8","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"level_vorrechen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["a39caac4.a52538"]]},{"id":"74b4f759.caa6a8","type":"link in","z":"ab4eedf4.584cf","name":"","links":["2a4dd368.f7cdcc"],"x":175,"y":120,"wires":[["ead3b51e.096278"]]},{"id":"4ad56222.a77144","type":"link in","z":"ab4eedf4.584cf","name":"","links":["e65aab39.ac0c18"],"x":175,"y":240,"wires":[["a685abc4.44c278"]]},{"id":"844b73b1.c4ce58","type":"link in","z":"ab4eedf4.584cf","name":"","links":["d2b88d59.cf797"],"x":175,"y":280,"wires":[["6a7faeb2.d81218"]]},{"id":"480bf2e3.3ea2b4","type":"link in","z":"ab4eedf4.584cf","name":"","links":["31a92661.6b8cb2"],"x":175,"y":340,"wires":[["a8331306.b752d8"]]},{"id":"9af9094c.86ae2","type":"link in","z":"ab4eedf4.584cf","name":"","links":["f0d86f06.161bb8"],"x":175,"y":160,"wires":[["d7109b41.46c19"]]},{"id":"c97f5c1d.4d8d2","type":"link in","z":"ab4eedf4.584cf","name":"","links":["f4801909.b1638"],"x":175,"y":200,"wires":[["3b991145.7cae96"]]},{"id":"d7109b41.46c19","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"t1_power","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["bc47c9a4.e49a3"]]},{"id":"3b991145.7cae96","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"t2_power","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["52b25cbf.0efd3c"]]},{"id":"c681a0ed.c1846","type":"influxdb out","z":"ab4eedf4.584cf","influxdb":"9730f828.195bf8","name":"WKW wkw_antonsthal","measurement":"wkw_antonsthal","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":860,"y":420,"wires":[]},{"id":"ec6a7900.8929a8","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["19d403f0.80a2fc","a0af3a39.f68168"]]},{"id":"bc47c9a4.e49a3","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["2898f858.c13c88"]]},{"id":"52b25cbf.0efd3c","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["48321e97.1cb47"]]},{"id":"6bd8bead.f732a","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[[]]},{"id":"793223eb.124274","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[[]]},{"id":"a39caac4.a52538","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[[]]},{"id":"5fad169c.c3c708","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"t2_status","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":240,"wires":[[]]},{"id":"1af1a32c.8f64dd","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"t2_status","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":280,"wires":[[]]},{"id":"48321e97.1cb47","type":"switch","z":"ab4eedf4.584cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":240,"wires":[["5fad169c.c3c708"],["1af1a32c.8f64dd"]]},{"id":"2898f858.c13c88","type":"switch","z":"ab4eedf4.584cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":180,"wires":[["58368358.e0b67c"],["54534ee9.aa6c18"]]},{"id":"54534ee9.aa6c18","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"t1_status","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":200,"wires":[[]]},{"id":"58368358.e0b67c","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"t1_status","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":160,"wires":[[]]},{"id":"9d4f1f73.04452","type":"ui_button","z":"ab4eedf4.584cf","name":"T1","group":"1a887d1a.60961b","order":2,"width":"3","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":1070,"y":40,"wires":[[]]},{"id":"19d403f0.80a2fc","type":"function","z":"ab4eedf4.584cf","name":"t1 status","func":"var status = global.get(\"t1_status\");\n\nmsg.payload = status;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nif (msg.payload === false){\n    msg.payload = \"T1 AUS\"\n    msg.background = \"red\";\n    return msg;}\nelse{\n    msg.payload = \"T1 EIN\"\n    msg.background = \"green\";\nreturn msg;}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":40,"wires":[["9d4f1f73.04452"]]},{"id":"b3065def.64095","type":"ui_button","z":"ab4eedf4.584cf","name":"T2","group":"1a887d1a.60961b","order":3,"width":"3","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":1070,"y":100,"wires":[[]]},{"id":"a0af3a39.f68168","type":"function","z":"ab4eedf4.584cf","name":"t2 status","func":"var status = global.get(\"t2_status\");\n\nmsg.payload = status;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\n\nif (msg.payload === false){\n    msg.payload = \"T2 AUS\"\n    msg.background = \"red\";\n    return msg;}\nelse{\n    msg.payload = \"T2 EIN\"\n    msg.background = \"green\";\nreturn msg;}\n","outputs":1,"noerr":0,"x":820,"y":100,"wires":[["b3065def.64095"]]},{"id":"f491dae8.254c98","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"a_temp_turbine","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["2d360ff2.983a78"]]},{"id":"2d360ff2.983a78","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":620,"wires":[[]]},{"id":"a6b0c4a6.308b08","type":"link in","z":"ab4eedf4.584cf","name":"","links":["728b05f3.0779fc"],"x":175,"y":600,"wires":[["f491dae8.254c98"]]},{"id":"e01c92b3.c9c39","type":"debug","z":"ab4eedf4.584cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":700,"wires":[]},{"id":"ac54bd3e.58b56","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"//Aussentemperatur Turbinenhaus\nvar a_temp_t = global.get(\"a_temp_turbine\")||0;\n\n\nmsg.payload = {\n    a_temp_turbine: a_temp_t,\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["e01c92b3.c9c39","a1a89d5a.5ae008"]]},{"id":"a1bc7409.0f381","type":"inject","z":"ab4eedf4.584cf","name":"","repeat":"","crontab":"*/15 0-23 * * *","once":false,"onceDelay":0.1,"topic":"15min","payload":"","payloadType":"date","x":130,"y":680,"wires":[["ac54bd3e.58b56"]]},{"id":"a1a89d5a.5ae008","type":"influxdb out","z":"ab4eedf4.584cf","influxdb":"9730f828.195bf8","name":"WKW wkw_antonsthal_quater","measurement":"wkw_antonsthal_quater","precision":"m","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":850,"y":660,"wires":[]},{"id":"6dbbe993.4bf37","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"pegel_w_set","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["9c091715.1c25b8"]]},{"id":"74ed8abc.582c2c","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"pegel_e_set","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":540,"wires":[["973b00ae.0d48"]]},{"id":"4e0df03c.2abd88","type":"link in","z":"ab4eedf4.584cf","name":"w set","links":["7733da71.37944c"],"x":175,"y":500,"wires":[["6dbbe993.4bf37"]]},{"id":"faff8200.3c244","type":"link in","z":"ab4eedf4.584cf","name":"","links":["eba082a5.48d43"],"x":175,"y":540,"wires":[["74ed8abc.582c2c"]]},{"id":"973b00ae.0d48","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[[]]},{"id":"9c091715.1c25b8","type":"function","z":"ab4eedf4.584cf","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[[]]},{"id":"4ebe03d7.c2ccbc","type":"function","z":"b9e24737.d62e38","name":"Reiniger Start Push 3.0 + image","func":"var datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||\"OFF\";\nvar t2 = global.get(\"t2_power\")||\"OFF\";\nvar topic = msg.topic;\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\n\n//var newpayload = \"Reiniger Start S7 \\nGesamtleistung: \" + msg.payload[\"Main_Power\"] + \" kW\" + \"\\n\" + \"Wehr: \" + msg.payload[\"Wehr\"] + \" mm\" + \"\\n\" +  msg.payload[\"Datum\"];\n\nmsg.payload = topic + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + \"Leistung-T1: \" + t1 + \"kW\" + '\\n' + \"Leistung-T2: \" + t2 + \"kW\" + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\n\n//msg.image = \"http://192.168.3.151/cgi-bin/CGIProxy.fcgi?cmd=snapPicture&usr=admin&pwd=!hydropower1\";\nmsg.image =  \"http://192.168.103.223/snap.jpeg\";\n\nmsg.sound = \"vibrate\";\n\n//msg.topic = 'WKW Antonsthal: ' + topic;\nnode.status({text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1360,"wires":[["1b74ef2a.7e81b1"]]},{"id":"ff69f8b6.34ded8","type":"function","z":"b9e24737.d62e38","name":"now aktuelles Datum 2.0","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n} \n  \n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1300,"wires":[["4ebe03d7.c2ccbc"]]},{"id":"c5c63a72.d8938","type":"influxdb out","z":"ab4eedf4.584cf","influxdb":"9730f828.195bf8","name":"WKW wkw_antonsthal_status","measurement":"wkw_antonsthal_status","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1110,"y":800,"wires":[]},{"id":"aa85504d.5f4b8","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\n\nvar rake_pump = global.get(\"stat_rake_pump\");\n//var rake_hyd = global.get(\"stat_rake_hyd\");\n\n\nmsg.payload = {\n    stat_rake_pump: rake_pump,\n    //stat_rake_hyd: rake_hyd,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":800,"wires":[["c5c63a72.d8938"]]},{"id":"1ceb6c06.9b6e9c","type":"link in","z":"ab4eedf4.584cf","name":"","links":["b3d181e9.11edd8"],"x":175,"y":800,"wires":[["1561577f.0196a9"]]},{"id":"1561577f.0196a9","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"stat_rake_pump","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":800,"wires":[["aa85504d.5f4b8"]]},{"id":"f74e2a6b.21633","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"stat_rake_hyd","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":760,"wires":[["8ca26625.c34c08"]]},{"id":"2716c65c.64322a","type":"link in","z":"ab4eedf4.584cf","name":"","links":["1a6916d7.6d1351"],"x":175,"y":760,"wires":[["f74e2a6b.21633"]]},{"id":"8ca26625.c34c08","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\n\n//var rake_pump = global.get(\"stat_rake_pump\");\nvar rake_hyd = global.get(\"stat_rake_hyd\");\n\n\n\nmsg.payload = {\n    //stat_rake_pump: rake_pump,\n    stat_rake_hyd: rake_hyd,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":760,"wires":[["c5c63a72.d8938"]]},{"id":"37030666.cc76ca","type":"comment","z":"b9e24737.d62e38","name":"Antonsthal: RSS-Feed der Wasserstände auslesen und in der UI anzeigen","info":"","x":260,"y":1700,"wires":[]},{"id":"7fb9407d.68f7","type":"feedparse","z":"b9e24737.d62e38","name":"Pegel: Johanngeorgenstadt 4 / Schwarzwasser","url":"https://www.umwelt.sachsen.de/umwelt/infosysteme/hwims/portal/web/feed/wasserstand-pegel-563745","interval":"1","x":180,"y":1740,"wires":[["ebfbcee.fecb4b"]]},{"id":"ebfbcee.fecb4b","type":"batch","z":"b9e24737.d62e38","name":"","mode":"interval","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":210,"y":1800,"wires":[["4ff4d0ce.708a"]]},{"id":"4ff4d0ce.708a","type":"switch","z":"b9e24737.d62e38","name":"switcht 1","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":360,"y":1800,"wires":[["cacdd593.2d358","31bf7c0.7836084","e97bfbb8.7dc728"]]},{"id":"cacdd593.2d358","type":"function","z":"b9e24737.d62e38","name":"index, datetime, wdepth, wflow","func":"\nvar index = msg.parts.index;\n\nvar water1 = msg.payload;\nvar arrwater1 = water1.split(\":\");\nvar subwater1 = arrwater1[1]\nvar waterdepth = subwater1.split(\"c\");\n\nvar water1 = msg.payload;\nvar arrwater1 = water1.split(\":\");\nvar subwater2 = arrwater1[2]\nvar waterflow = subwater2.split(\"<\");\n\n\n//var datetime = msg.article[\"rss:pubdate\"][\"#\"];\nvar datetime = msg.article.date;\n/*var arrdate = datetime.split(\"T\");*/\n\nvar water = msg.article.description;\n\nvar msg1 = { payload: index };\nvar msg2 = { payload: datetime };\nvar msg3 = { payload: waterdepth[0] };\nvar msg4 = { payload: waterflow[0] };\n\nreturn [msg1, msg2, msg3, msg4];\n\n/*\nvar emailcontent = msg.payload;  \nvar arr = emailcontent.split(\"=\");\n\nvar arr1 = emailcontent.split(\"/\");\nvar error1 = arr1[1];  \n\nvar str1 = arr[1];  \nvar power1 = str1.split(\"k\");\n\nvar str2 = arr[2];  \nvar power2 = str2.split(\"k\");\n*/","outputs":4,"noerr":0,"x":650,"y":1800,"wires":[[],[],[],[]]},{"id":"31bf7c0.7836084","type":"link out","z":"b9e24737.d62e38","name":"Johanngeorgenstadt","links":["3bb61e0b.21ea2a"],"x":495,"y":1740,"wires":[]},{"id":"74ce2523.7f7b4c","type":"function","z":"ab4eedf4.584cf","name":"Pegel Johanngeorgenstadt 4 Objekt","func":"var main = global.get(\"main_power\")||0;\nvar lwehr = global.get(\"level_wehr\")||0;\nvar lvorrechen = global.get(\"level_vorrechen\")||0;\n\nmsg.payload = {\n    wname: msg.Pegel.Wname,\n    wvalue: msg.Pegel.Wvalue,\n    wunit: msg.Pegel.Wunit,\n    fname: msg.Pegel.Fname,\n    fvalue: msg.Pegel.Fvalue,\n    funit: msg.Pegel.Funit,\n    warnname: msg.Pegel.warnname,\n    warnstring: msg.Pegel.warnstring,\n    main_power: main,\n    level_wehr: lwehr,\n    level_vorrechen: lvorrechen,\n    \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1160,"wires":[["9e6e8c2e.36422","297c9d6f.38e36a"]]},{"id":"1a6916d7.6d1351","type":"link out","z":"36e594f0.d04414","name":"Rechen Hydraulik","links":["2716c65c.64322a","b870b09e.dbf33"],"x":380,"y":640,"wires":[]},{"id":"b3d181e9.11edd8","type":"link out","z":"36e594f0.d04414","name":"Rechen Spühlpumpe","links":["1ceb6c06.9b6e9c","5e7afc48.62938c","5a53b313.4db154"],"x":375,"y":760,"wires":[]},{"id":"c242827d.2656a8","type":"function","z":"b9e24737.d62e38","name":"","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = global.get('count')||0;\ncount += 1;\n// store the value back\nglobal.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["73e41b04.ffa4bc"]]},{"id":"a7c68261.de46c","type":"inject","z":"b9e24737.d62e38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"77","payloadType":"num","x":190,"y":1180,"wires":[["5c5e48d3.88b0d","bfa978d1.b6d788"]]},{"id":"4f185dbf.4c9ffc","type":"comment","z":"b9e24737.d62e38","name":"Alarmierung Rechen mit IMAGE","info":"","x":410,"y":1060,"wires":[]},{"id":"57f7bfeb.bced3","type":"http request","z":"b9e24737.d62e38","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":310,"y":1920,"wires":[[]]},{"id":"5e24cfd3.a7ba2","type":"link in","z":"ab4eedf4.584cf","name":"","links":["d946bfda.468f18"],"x":175,"y":840,"wires":[["602deab4.32b04c"]]},{"id":"602deab4.32b04c","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\n\n\nvar std_pump_2 = msg.payload;\n//var rake_pump = global.get(\"stat_rake_pump\");\n//var rake_hyd = global.get(\"stat_rake_hyd\");\n\n\nmsg.payload = {\n    sump_pump_2: std_pump_2,\n    //stat_rake_hyd: rake_hyd,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":840,"wires":[["c5c63a72.d8938"]]},{"id":"1e5b77be.76cf5","type":"inject","z":"88285dce.6ed79","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"407.1031188964844","payloadType":"num","x":130,"y":80,"wires":[["6cd2b48.123374c"]]},{"id":"61a189ef.0a363","type":"inject","z":"88285dce.6ed79","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"407.1033935546875","payloadType":"num","x":130,"y":120,"wires":[["33ce2d8a.11152a","6cd2b48.123374c"]]},{"id":"22614a9f.cbab5e","type":"function","z":"88285dce.6ed79","name":"Einschaltzeit","func":"var time = context.get('time')||0;\n\ntime = msg.payload;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\n\nvar msg1 = { payload: time };\nvar msg2 = { payload: count };\nvar msg3 = { payload: msg.payload };\n\nreturn [msg1, msg2, msg3];\n\n/*\nif (msg.payload[0] > 50 && msg.payload[1] > 0){\nvar newpayload = \"Aktueller Pegel Vorrechen: \" + msg.payload[0] + \" mm\" + \"\\n\" + \"Schwellwert: \" + \"+50\" + \" mm\" + \"\\n\" + \"Leitsung: \" +  msg.payload[1] + \" kW\";\n\nvar msg = { payload: newpayload };\nmsg.image = \"http://www.kaiser-hydropower.com/wkw/antonsthal/ipcam/FI9900P_00626E635A9D/snap/Schedule_20200210-222615.jpg\";\nreturn msg;\n} else {\nmsg = { payload:false };\n\n\nreturn null;\n}\n\n\n\n\nvar datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||\"OFF\";\nvar t2 = global.get(\"t2_power\")||\"OFF\";\nvar topic = msg.topic;\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\n\n\nmsg.payload = topic + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + \"Leistung-T1: \" + t1 + \"kW\" + '\\n' + \"Leistung-T2: \" + t2 + \"kW\" + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\n\n//msg.topic = 'WKW Antonsthal: ' + topic;\nnode.status({text: msg.payload });\nreturn msg;\nreturn msg;\n\n*/","outputs":3,"noerr":0,"x":490,"y":80,"wires":[[],["d91be173.fdb4f"],[]]},{"id":"d91be173.fdb4f","type":"debug","z":"88285dce.6ed79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"443c0593.456c6c","type":"function","z":"88285dce.6ed79","name":"part 1","func":"msg.parts = {};\nmsg.parts.id = 34567;\n\nif (msg.payload === false){\n    msg.payload = \"AUS\"\n    msg.background = \"red\";\n    return msg;}\nelse{\n    msg.payload = \"EIN\"\n    msg.background = \"green\";\nreturn msg;}\n\n\n\n\nmsg.parts.index = 0;\nmsg.parts.count = 2;\n\n\n//\nmsg.parts.index += 1;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["c894cb8c.60573","3458d0c2.baf7"]]},{"id":"33ce2d8a.11152a","type":"function","z":"88285dce.6ed79","name":"part 2","func":"msg.parts = {};\nmsg.parts.id = 34567;\nmsg.parts.index = 1;\nmsg.parts.count = 2;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[[]]},{"id":"c894cb8c.60573","type":"join","z":"88285dce.6ed79","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":590,"y":160,"wires":[["3e9cf933.d012ce"]]},{"id":"3e9cf933.d012ce","type":"debug","z":"88285dce.6ed79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":160,"wires":[]},{"id":"3458d0c2.baf7","type":"debug","z":"88285dce.6ed79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":320,"wires":[]},{"id":"dc310296.11066","type":"debug","z":"88285dce.6ed79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":240,"wires":[]},{"id":"6cd2b48.123374c","type":"batch","z":"88285dce.6ed79","name":"","mode":"count","count":10,"overlap":0,"interval":"1","allowEmptySequence":false,"topics":[],"x":350,"y":240,"wires":[["3458d0c2.baf7","c894cb8c.60573"]]},{"id":"769c2241.cc7814","type":"inject","z":"b9e24737.d62e38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"16 21 * * *","once":false,"onceDelay":0.1,"topic":"Status 2116 Uhr","payload":"","payloadType":"date","x":160,"y":160,"wires":[["c4e092ab.96b648"]]},{"id":"6c873062.fbb508","type":"inject","z":"ab4eedf4.584cf","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":100,"y":1700,"wires":[["15e3a6e6.0be921"]]},{"id":"15e3a6e6.0be921","type":"function","z":"ab4eedf4.584cf","name":"simple query","func":"msg.query=\"select * from wkw_antonsthal;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1700,"wires":[[]]},{"id":"5bea2af3.8b2dd4","type":"influxdb in","z":"ab4eedf4.584cf","influxdb":"9730f828.195bf8","name":"time query","query":"","rawOutput":true,"precision":"","retentionPolicy":"","x":470,"y":1920,"wires":[["445d5c8b.4c811c","cba59332.9cfdb8"]]},{"id":"d551a582.c5bce8","type":"function","z":"ab4eedf4.584cf","name":"level_wehr","func":"msg.query=\"select mean(level_wehr) from wkw_antonsthal where time >= now() - 30d group by time(30m) fill(previous);\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1740,"wires":[[]]},{"id":"ee7dfdc.ae2d1","type":"function","z":"ab4eedf4.584cf","name":"level_wehr","func":"var $__interval = msg.payload;\nvar zeitgenau = flow.get(\"zeitraum\")||\"6h,30m\";\nvar parts = zeitgenau.split(\",\");\nvar zeit = parts[0];\nvar genau = parts[1];\n\n\nmsg.query=\"SELECT mean(level_wehr) FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" group by time(\" + genau +\") fill(null);\";\n//msg.query=\"select mean(level_wehr) from wkw_antonsthal where time >= now() - 30d group by time(30m) fill(previous);\";\nreturn msg;// $timeFilter GROUP BY time(\" + $__interval + \") fill(null);","outputs":1,"noerr":0,"x":490,"y":1740,"wires":[[]]},{"id":"79e114cd.833874","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t(\t $ts := $flowContext('temperaturSeries');\t    $series := $ts.**.columns[1];\t    $data := $ts.[results.[\t    series.[$map\t                        (\t                        values,\t                        function($v) \t                            {\t                                {\t                                \"x\": $v[0],\t                                \"y\": $round($v[1] = null ? 0 : $v[1],0)\t                                }\t                            }\t                        )\t ]]];\t[\t{\t\"labels\": $series,\t\"data\": $data,\t\"series\": $series\t}\t]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2060,"wires":[["556541a3.a922d8","c86f0461.7961b"]]},{"id":"556541a3.a922d8","type":"debug","z":"ab4eedf4.584cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":2000,"wires":[]},{"id":"cba59332.9cfdb8","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"temperaturSeries","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1980,"wires":[["79e114cd.833874"]]},{"id":"eb27537.de265b","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t\t   $ts := $flowContext('temperatureSerie');\t   $series := $ts[1].**.columns[1];\t   $data := $ts.[\t       results.series.$map(\t           values,\t           function($v) \t                       {\t               {\t                   \"x\": $v[0],\t                   \"y\": $round($v[1] = null ? 0 : $v[1],2)\t               }\t           }\t       )\t   ];\t   [\t       {\t           \"series\": [[$series]],\t           \"data\": $data\t       }\t   ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1700,"wires":[["5aa0b059.a59508"]]},{"id":"c86f0461.7961b","type":"ui_chart","z":"ab4eedf4.584cf","name":"","group":"1086f38b.38e87c","order":10,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"DD.MM.YYYY HH:mm","interpolate":"linear","nodata":"Keine Werte","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":2060,"wires":[[]]},{"id":"4ad25bda.39487c","type":"ui_date_picker","z":"ab4eedf4.584cf","name":"","label":"Bis","group":"1086f38b.38e87c","order":9,"width":"6","height":"1","passthru":true,"topic":"","x":70,"y":1800,"wires":[["9571f626.8ace7","f4552e26.afef28"]]},{"id":"f4552e26.afef28","type":"ui_button","z":"ab4eedf4.584cf","name":"","group":"1086f38b.38e87c","order":7,"width":"3","height":"1","passthru":true,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"zeitpunkt","payloadType":"flow","topic":"","x":260,"y":1920,"wires":[["a20d5d58.7a9648"]]},{"id":"9571f626.8ace7","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"zeitpunkt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1800,"wires":[[]]},{"id":"b2f3cf08.1fb898","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"zeitraum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1840,"wires":[[]]},{"id":"350cc468.714b9c","type":"ui_dropdown","z":"ab4eedf4.584cf","name":"","label":"letzen","tooltip":"","place":"Select option","group":"1086f38b.38e87c","order":8,"width":0,"height":0,"passthru":false,"multiple":true,"options":[{"label":"3 Stunden [min]","value":"3h,1m","type":"str"},{"label":"6 Stunden [min]","value":"6h,1m","type":"str"},{"label":"1 Tag [1/2 Std]","value":"1d,30m","type":"str"},{"label":"2 Tage [1/2 Std]","value":"2d,30m","type":"str"},{"label":"3 Tage [1/2 Std]","value":"3d,30m","type":"str"}],"payload":"","topic":"","x":70,"y":1840,"wires":[["b2f3cf08.1fb898","f4552e26.afef28"]]},{"id":"579fc78.f514cb8","type":"ui_button","z":"ab4eedf4.584cf","name":"","group":"1086f38b.38e87c","order":7,"width":"3","height":"1","passthru":true,"label":"Aktuell","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":1940,"wires":[["a20d5d58.7a9648"]]},{"id":"a20d5d58.7a9648","type":"function","z":"ab4eedf4.584cf","name":"multi query","func":"var $__interval = msg.payload;\nvar zeitgenau = flow.get(\"zeitraum\")||\"6h,30m\";\nvar parts = zeitgenau.split(\",\");\nvar zeit = parts[0];\nvar genau = parts[1];\n\n//WHERE time >= \" + $__interval + \"ms - \" + zeit + \" group by time(\" + genau +\") fill(null);\"\n\nmsg.query = \"SELECT mean(level_wehr) AS pegel_wehr FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" AND time <= \" + $__interval + \"ms group by time(\" + genau +\") fill(null);\"\n             + \"SELECT mean(level_vorrechen) AS pegel_vorrechen FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" AND time <= \" + $__interval + \"ms group by time(\" + genau +\") fill(null);\"\n             + \"SELECT mean(level_einlauf) AS pegel_einlauf FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" AND time <= \" + $__interval + \"ms group by time(\" + genau +\") fill(null);\"\n             + \"SELECT mean(pegel_w_set) AS wehr_set FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" AND time <= \" + $__interval + \"ms group by time(\" + genau +\") fill(null);\"\n             + \"SELECT mean(main_power) AS main_power FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" AND time <= \" + $__interval + \"ms group by time(\" + genau +\") fill(null);\";\n      \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1980,"wires":[["5bea2af3.8b2dd4"]]},{"id":"5aa0b059.a59508","type":"debug","z":"ab4eedf4.584cf","name":"chart2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1700,"wires":[]},{"id":"445d5c8b.4c811c","type":"debug","z":"ab4eedf4.584cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1920,"wires":[]},{"id":"74177d50.0c54ec","type":"function","z":"ab4eedf4.584cf","name":"level_wehr","func":"var $__interval = msg.payload;\nvar zeitgenau = flow.get(\"zeitraum\")||\"6h,30m\";\nvar parts = zeitgenau.split(\",\");\nvar zeit = parts[0];\nvar genau = parts[1];\n\n\nmsg.query=\"SELECT mean(main_power) FROM wkw_antonsthal WHERE time >= \" + $__interval + \"ms - \" + zeit + \" group by time(\" + genau +\") fill(null);\";\n//msg.query=\"select mean(level_wehr) from wkw_antonsthal where time >= now() - 30d group by time(30m) fill(previous);\";\nreturn msg;// $timeFilter GROUP BY time(\" + $__interval + \") fill(null);","outputs":1,"noerr":0,"x":490,"y":1700,"wires":[[]]},{"id":"1fdf7699.752df1","type":"comment","z":"ab4eedf4.584cf","name":"InfluxDB Query - Abfrage","info":"","x":120,"y":1660,"wires":[]},{"id":"441f0399.5214e4","type":"function","z":"c5cb235c.8c667","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[[]]},{"id":"50d498f2.b84718","type":"function","z":"c5cb235c.8c667","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[[]]},{"id":"e095b7fe.e1fc","type":"function","z":"c5cb235c.8c667","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[[]]},{"id":"d853309c.51c6a8","type":"function","z":"c5cb235c.8c667","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[[]]},{"id":"b4b1a8b3.e403a","type":"ftp in","z":"ab4eedf4.584cf","ftp":"a297bf3f.4cb1c8","operation":"put","filename":"antonsthal.txt","localFilename":"/home/pi/antonsthal.txt","name":"Antonsthal ftp Cam","x":790,"y":2400,"wires":[[]]},{"id":"ec356604.e9fc08","type":"inject","z":"88285dce.6ed79","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":540,"wires":[["529ef79d.50ed2"]]},{"id":"567b0a36.3dff94","type":"function","z":"88285dce.6ed79","name":"Filter IP","func":"var msg_1 = {};\nvar msg_2 = {};\n\nvar ip_local = global.get('ip_local')||0;\nvar process_data = 1212;\n\n//msg_1 = {payload : msg.payload.internal.v4};\nmsg_1 = {payload : msg.payload.internalIPv4};\nmsg_2 = {payload : process_data, topic : \"public\", host : \"local\", hostip : msg.payload.internalIPv4};\n\n\nip_local = msg.payload.internalIPv4;\nglobal.set('ip_local',ip_local);\n\nreturn [msg_1, msg_2];","outputs":2,"noerr":0,"x":678,"y":540,"wires":[["bba47427.65e758"],["6e1b57c2.a2663"]],"outputLabels":["local ip address","process payload"]},{"id":"6e1b57c2.a2663","type":"function","z":"88285dce.6ed79","name":"Process Nodes","func":"var timestamp = new Date();\nvar ip_local = global.get('ip_local')||0;\nvar ip1 = global.get('ip1')||0;\nvar ip2 = global.get('ip2')||0;\nvar ip3 = global.get('ip3')||0;\nvar ip4 = global.get('ip4')||0;\nvar ip1_ts = global.get('ip1_ts')||0;\nvar ip2_ts = global.get('ip2_ts')||0;\nvar ip3_ts = global.get('ip3_ts')||0;\nvar ip4_ts = global.get('ip4_ts')||0;\nvar node = [];\nvar parts = [0,0,0,0];\nvar part = 0;\nvar alive = [0,0,0,0];\nvar timeout = 5000;\n\n// Log unique IP addresses\nif (ip1 === 0 || ip1 == msg.hostip){\n    ip1 = msg.hostip;\n    global.set('ip1',ip1);\n    global.set('ip1_ts', timestamp);\n} else if (ip2 === 0 || ip2 == msg.hostip){\n    ip2 = msg.hostip;\n    global.set('ip2',ip2);\n    global.set('ip2_ts', timestamp);\n} else if (ip3 === 0 || ip3 == msg.hostip){\n    ip3 = msg.hostip;\n    global.set('ip3',ip3);\n    global.set('ip3_ts', timestamp);\n} else if (ip4 === 0 || ip4 == msg.hostip){\n    ip4 = msg.hostip;\n    global.set('ip4',ip4);\n    global.set('ip4_ts', timestamp);\n}\n\n// Identify last Octets\nif (ip1 !== 0) {\n    parts[0] = parseInt(ip1.slice(-1));\n} else { parts[0] = 0;}\nif (ip2 !== 0) {\n    parts[1] = parseInt(ip2.slice(-1));\n} else { parts[1] = 0;}\nif (ip3 !== 0) {\n    parts[2] = parseInt(ip3.slice(-1));\n} else { parts[2] = 0;}\nif (ip4 !== 0) {\n    parts[3] = parseInt(ip4.slice(-1));\n} else { parts[3] = 0;}\n\nif (ip_local !== 0) { // Local IP Address\n    part = parseInt(ip_local.slice(-1));\n} else \n\n// Determine if nodes are still alive\nif ((timestamp - ip1_ts) < timeout){\n    alive[0] = 1;    \n} else {alive[0] = 0;}\nif ((timestamp - ip2_ts) < timeout){\n    alive[1] = 1;    \n} else {alive[1] = 0;}\nif((timestamp - ip3_ts) < timeout){\n    alive[2] = 1;    \n} else {alive[2] = 0;}\nif ((timestamp - ip4_ts) < timeout){\n    alive[3] = 1;    \n} else {alive[3] = 0;}\n\n// Build message payload JSON\nnode[0] = {ip: ip1, ts : ip1_ts, et : (timestamp - ip1_ts), num : parts[0], alive : alive[0]};\nnode[1] = {ip: ip2, ts : ip2_ts, et : (timestamp - ip2_ts), num : parts[1], alive : alive[1]};\nnode[2] = {ip: ip3, ts : ip3_ts, et : (timestamp - ip3_ts), num : parts[2], alive : alive[2]};\nnode[3] = {ip: ip4, ts : ip4_ts, et : (timestamp - ip4_ts), num : parts[3], alive : alive[3]};\nlocal = {ip: ip_local, num : part};\n\nmsg = {payload: {node: node, local: local}}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":700,"wires":[["eaf0d975.44a31","762e4b23.dad204","e2a90feb.d89368","1d50cd03.ed2cfb","4f800490.3bf634","24463e30.5c9ffa"]]},{"id":"33a4df72.6a6ea","type":"function","z":"88285dce.6ed79","name":"Reset IP's","func":"var ip1 = global.get('ip1')||0;\nvar ip2 = global.get('ip2')||0;\nvar ip3 = global.get('ip3')||0;\nvar ip4 = global.get('ip4')||0;\n\nglobal.set('ip1',0);\nglobal.set('ip2',0);\nglobal.set('ip3',0);\nglobal.set('ip4',0);\n\nglobal.set('counter',0);\n\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":459,"wires":[[]]},{"id":"e6428121.0c1a4","type":"inject","z":"88285dce.6ed79","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"reset","payloadType":"str","x":89,"y":487,"wires":[["33a4df72.6a6ea"]]},{"id":"eaf0d975.44a31","type":"function","z":"88285dce.6ed79","name":"Who is Master?","func":"var msg_1 = {};\nvar msg_2 = {};\nvar msg_n0 = {};\nvar msg_n1 = {};\nvar msg_n2 = {};\nvar msg_n3 = {};\n\nvar highest = 0;\nvar highest_ip = 0;\nvar ip_local = global.get('ip_local')||0;\nvar master = global.get('master')||0;\nvar me = 0;\nvar slave_message = \"slave to \";\n\nme = parseInt(ip_local.slice(-1));\nhighest = me;\n\n// Find highest IP number, which is the master\nfor(i = 0;i<msg.payload.node.length;i++){\n     if (msg.payload.node[i].num > highest && msg.payload.node[i].alive == 1){\n        highest = msg.payload.node[i].num;\n        highest_ip = msg.payload.node[i].ip;\n     }\n}\nmsg_1 = {payload : {ip : highest_ip, num: highest}};\nslave_message = slave_message + highest;\n\n// Am I the master?\nif(me>=highest){\n    msg_2 = {payload : true}\n    global.set(\"master\", true);\n    node.status({fill:\"green\",shape:\"ring\",text:\"master\"});\n}else{\n    msg_2 = {payload : false};\n    global.set(\"master\", false);\n    node.status({fill:\"red\",shape:\"dot\",text:slave_message});\n}\n\n// stats on elapsed time et\nmsg_n0 = {topic:\"Node_0\", payload:msg.payload.node[0].et}\nmsg_n1 = {topic:\"Node_1\", payload:msg.payload.node[1].et}\nmsg_n2 = {topic:\"Node_2\", payload:msg.payload.node[2].et}\nmsg_n3 = {topic:\"Node_3\", payload:msg.payload.node[3].et}\n\nreturn [msg_1, msg_2, msg_n0, msg_n1, msg_n2, msg_n3];","outputs":6,"noerr":0,"x":568,"y":700,"wires":[["b39c3b78.a3928"],["8ff1253c.ebfe48","53ad2973.b3826"],["faa7a32a.95c848"],["faa7a32a.95c848"],["faa7a32a.95c848"],["faa7a32a.95c848"]],"outputLabels":["who is master","I am master","node 0 stats","node 1 stats","node 2 stats","node 3 stats"]},{"id":"529ef79d.50ed2","type":"trigger","z":"88285dce.6ed79","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":300,"y":539,"wires":[["edf10638.647d28","d2a0e3b4.c97818"]]},{"id":"8ff1253c.ebfe48","type":"trigger","z":"88285dce.6ed79","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":870,"y":740,"wires":[["101a8ff9.654ec8"]]},{"id":"101a8ff9.654ec8","type":"function","z":"88285dce.6ed79","name":"Counter","func":"var counter = global.get('counter')||0;\n\n// count each time it takes over as master\nif (msg.payload == 1){\n    counter = counter + 1;\n    global.set('counter',counter);\n}\nmsg = {payload : counter};\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":720,"wires":[["c2d0399a.201ac"]]},{"id":"24463e30.5c9ffa","type":"debug","z":"88285dce.6ed79","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":562,"y":925,"wires":[]},{"id":"1003e0c0.674c1f","type":"debug","z":"88285dce.6ed79","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":787,"wires":[]},{"id":"d2a0e3b4.c97818","type":"function","z":"88285dce.6ed79","name":"Process Variables","func":"var msg_o = {};\nvar process_data = 1212;\n\nmsg_o = {payload : process_data};\n\nreturn msg_o;","outputs":1,"noerr":0,"x":570,"y":480,"wires":[["bbecd9be.00b15"]]},{"id":"e4a01ba2.f450d8","type":"debug","z":"88285dce.6ed79","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1100,"wires":[]},{"id":"6d6af6c0.2dcf78","type":"function","z":"88285dce.6ed79","name":"Master Check","func":"var msg_o;\nvar master = global.get('master')||0;\nif(master){\n    msg_o = {payload : msg.payload[0]};\n    node.status({fill:\"green\",shape:\"ring\",text:\"master\"});\n}else{\n    node.status({fill:\"red\",shape:\"dot\",text:\"slave\"});\n}\nreturn msg_o;\n","outputs":1,"noerr":0,"x":580,"y":1080,"wires":[["e4a01ba2.f450d8"]]},{"id":"d92d510c.c96b5","type":"inject","z":"88285dce.6ed79","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1100,"wires":[["6d6af6c0.2dcf78"]]},{"id":"ced4b1ff.13d248","type":"n2n in","z":"88285dce.6ed79","name":"","topic":"","iface":"","rate":"0.25","ignore":true,"bcast":false,"x":50,"y":700,"wires":[["6e1b57c2.a2663","1003e0c0.674c1f"]]},{"id":"bbecd9be.00b15","type":"n2n out","z":"88285dce.6ed79","iface":"","name":"","bcast":false,"x":858,"y":485,"wires":[]},{"id":"edf10638.647d28","type":"ip","z":"88285dce.6ed79","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":530,"y":540,"wires":[["567b0a36.3dff94"]]},{"id":"53ad2973.b3826","type":"ui_switch","z":"88285dce.6ed79","name":"","label":"Master?","tooltip":"","group":"78e0a5bc.37edac","order":8,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":840,"y":680,"wires":[[]]},{"id":"808dcbdc.40dd48","type":"ui_button","z":"88285dce.6ed79","name":"","group":"78e0a5bc.37edac","order":9,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":89,"y":446,"wires":[["33a4df72.6a6ea"]]},{"id":"762e4b23.dad204","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":3,"width":0,"height":0,"name":"","label":"Node 0","format":"{{msg.payload.node[0].ip}}","layout":"row-spread","x":553,"y":781,"wires":[]},{"id":"e2a90feb.d89368","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":4,"width":0,"height":0,"name":"","label":"Node 1","format":"{{msg.payload.node[1].ip}}","layout":"row-spread","x":553,"y":815,"wires":[]},{"id":"1d50cd03.ed2cfb","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":5,"width":0,"height":0,"name":"","label":"Node 2","format":"{{msg.payload.node[2].ip}}","layout":"row-spread","x":552,"y":849,"wires":[]},{"id":"4f800490.3bf634","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":6,"width":0,"height":0,"name":"","label":"Node 3","format":"{{msg.payload.node[3].ip}}","layout":"row-spread","x":552,"y":885,"wires":[]},{"id":"b39c3b78.a3928","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":1,"width":0,"height":0,"name":"","label":"Current Master","format":"{{msg.payload.ip}}","layout":"row-spread","x":860,"y":640,"wires":[]},{"id":"bba47427.65e758","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":10,"width":0,"height":0,"name":"","label":"Local IP Address","format":"{{msg.payload}}","layout":"row-spread","x":899,"y":536,"wires":[]},{"id":"c2d0399a.201ac","type":"ui_text","z":"88285dce.6ed79","group":"78e0a5bc.37edac","order":2,"width":0,"height":0,"name":"","label":"Times as Master","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":720,"wires":[]},{"id":"faa7a32a.95c848","type":"ui_chart","z":"88285dce.6ed79","name":"","group":"78e0a5bc.37edac","order":7,"width":0,"height":0,"label":"Node Statistics","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":800,"wires":[[]]},{"id":"82cee125.6d4bc8","type":"comment","z":"b9e24737.d62e38","name":"Störung????","info":"","x":370,"y":340,"wires":[]},{"id":"fda2b050.06606","type":"s7 in","z":"b9e24737.d62e38","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Stoerung_1","diff":true,"name":"","x":370,"y":380,"wires":[["f8ec1d4.537f9e"]]},{"id":"f8ec1d4.537f9e","type":"debug","z":"b9e24737.d62e38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":380,"wires":[]},{"id":"fae99a7a.95ee08","type":"http request","z":"d59777ca.a8b5c8","name":"Cam Wehr","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.103.206/snap.jpeg","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":100,"wires":[["1a6954da.dfac33"]]},{"id":"ca33c359.bffd7","type":"file","z":"d59777ca.a8b5c8","name":"snapwehr.jpg","filename":"/home/pi/snapwehr.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"base64","x":890,"y":120,"wires":[["9ef643b4.6a27e"]]},{"id":"af827c2d.9e40e8","type":"ftp in","z":"d59777ca.a8b5c8","ftp":"a297bf3f.4cb1c8","operation":"put","filename":"","localFilename":"/home/pi/snapwehr.jpg","name":"/FI9900P_00626E635AB3/snap/wehr_xxx.jpg","x":750,"y":300,"wires":[["392ff2e8.aebf06","f970c5ae.e881e"]]},{"id":"9ef643b4.6a27e","type":"function","z":"d59777ca.a8b5c8","name":"nowDate Dateinamen FTP","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \n\nif(month.toString().length == 1) {\nmonth = '0' + month;\n}\nif(day.toString().length == 1) {\nday = '0' + day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+ hour;\n}\nif(minute.toString().length == 1) {\nminute = '0' + minute;\n}\nif(second.toString().length == 1) {\nsecond = '0' + second;\n}\n \nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n//msg.nowdate = year + ' '+ month + ' ' + day + '_'+ hour + ':' + minute +':'+ second;\n\n\nnode.status({fill:\"green\",shape:\"ring\",text: msg.nowdate });\n\n\nmsg.filename = '/FI9900P_00626E635AB3/snap/wehr_'+msg.nowdate+'.jpg';\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["af827c2d.9e40e8"]]},{"id":"16e8b839.1ee14","type":"http request","z":"d59777ca.a8b5c8","name":"Cam Rechen","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.103.223/snap.jpeg","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":440,"wires":[["9b6d8d8f.18da3"]]},{"id":"64f49ef5.1fc798","type":"function","z":"d59777ca.a8b5c8","name":"nowDate Dateinamen FTP","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n} \n\n\nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n//msg.nowdate = year+month+day+'_'+hour+':'+minute+':'+second;\n\n\nnode.status({fill:\"green\",shape:\"ring\",text: msg.nowdate });\n\n\nmsg.filename = 'FI9900P_00626E6358F0/snap/rechen_'+msg.nowdate+'.jpg';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["c23ab3ba.7978b"]]},{"id":"c23ab3ba.7978b","type":"ftp in","z":"d59777ca.a8b5c8","ftp":"a297bf3f.4cb1c8","operation":"put","filename":"","localFilename":"/home/pi/snaprechen.jpg","name":"/FI9900P_00626E6358F0/snap/Rechen_xxx.jpg","x":640,"y":620,"wires":[["d200891a.95f478"]]},{"id":"e4c1d5ac.460c9","type":"file","z":"d59777ca.a8b5c8","name":"snaprechen.jpg","filename":"/home/pi/snaprechen.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"base64","x":880,"y":440,"wires":[["64f49ef5.1fc798","1e0f30a.9d9384f"]]},{"id":"7efa6a68.ca617c","type":"delay","z":"b9e24737.d62e38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":770,"y":1100,"wires":[["85c1b008.4cef48"]]},{"id":"c5bec0d7.d843f8","type":"delay","z":"b9e24737.d62e38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":1300,"wires":[["ff69f8b6.34ded8"]]},{"id":"748f93e7.1497a4","type":"debug","z":"d59777ca.a8b5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":20,"wires":[]},{"id":"392ff2e8.aebf06","type":"function","z":"d59777ca.a8b5c8","name":"If upload completed","func":"if (msg.payload === \"Put operation successful.\"){\n   node.status({fill:\"green\",shape:\"ring\",text: msg.payload + ' | Filesize:' + msg.headers[\"content-length\"] + ' | Filesize:' + msg.headers[\"last-modified\"] });\n    \n    msg.payload = Date.now();\n    return msg;}\nelse{ return null;}\n","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["ca12bfee.45f7d"]]},{"id":"d200891a.95f478","type":"function","z":"d59777ca.a8b5c8","name":"If upload completed","func":"if (msg.payload === \"Put operation successful.\"){\n   node.status({fill:\"green\",shape:\"ring\",text: msg.payload + ' | Filesize:' + msg.headers[\"content-length\"] + ' | Filesize:' + msg.headers[\"date\"] });\n    return msg;}\nelse{\nreturn null;}\n","outputs":1,"noerr":0,"x":280,"y":660,"wires":[["78727b0e.d313dc"]]},{"id":"fe990d68.84c4c8","type":"ftp in","z":"d59777ca.a8b5c8","ftp":"b34ed794.d0b928","operation":"list","filename":"","localFilename":"","name":"Wehr Snap","x":610,"y":20,"wires":[["ac7ad59b.6d7eb8","638d6a6d.19fb14"]]},{"id":"9d6a7dd0.223228","type":"inject","z":"d59777ca.a8b5c8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["d164ec6a.ce10a8"]]},{"id":"70b57528.e7b63c","type":"inject","z":"d59777ca.a8b5c8","name":"","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["ca12bfee.45f7d","78727b0e.d313dc"]]},{"id":"ac7ad59b.6d7eb8","type":"function","z":"d59777ca.a8b5c8","name":"","func":"var count = msg.payload.length;\nmsg.payloadlast = count - 1;\n\nmsg.lastpix = msg.payload[msg.payloadlast].date;\nmsg.utclast = Date.parse(msg.payload[msg.payloadlast].date);\n\nmsg.age = msg.filename - msg.lastpix;\n\nif (msg.age > 5000){\n   node.status({fill:\"green\",shape:\"ring\",text: msg.payload[msg.payloadlast].date + ' | Fileage:' + msg.age });\n    \n    msg.payload = Date.now();\n    return msg;}\n\nelse{ \n    node.status({fill:\"green\",shape:\"ring\",text: msg.payload[msg.payloadlast].date + ' | Fileage:' + msg.age });\n    \n    return null;}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":40,"wires":[["748f93e7.1497a4","fae99a7a.95ee08"]]},{"id":"d164ec6a.ce10a8","type":"function","z":"d59777ca.a8b5c8","name":"now aktuelles Datum 2.0","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nmsg.filename = msg.payload;\n/*\nnew Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n} \n  \n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["fe990d68.84c4c8"]]},{"id":"f970c5ae.e881e","type":"debug","z":"d59777ca.a8b5c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":240,"wires":[]},{"id":"638d6a6d.19fb14","type":"debug","z":"d59777ca.a8b5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":60,"wires":[]},{"id":"ca12bfee.45f7d","type":"trigger","z":"d59777ca.a8b5c8","name":"Watchdog","op1":"","op2":"timeout cam Wehr","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":210,"y":180,"wires":[["57d0120f.cd10bc","fae99a7a.95ee08"]]},{"id":"57d0120f.cd10bc","type":"debug","z":"d59777ca.a8b5c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":240,"wires":[]},{"id":"78727b0e.d313dc","type":"trigger","z":"d59777ca.a8b5c8","name":"Watchdog","op1":"","op2":"timeout cam rechen","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":230,"y":560,"wires":[["16e8b839.1ee14","26cf0e8e.e4ba42"]]},{"id":"26cf0e8e.e4ba42","type":"debug","z":"d59777ca.a8b5c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":560,"wires":[]},{"id":"3945923f.8c905e","type":"delay","z":"b9e24737.d62e38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":820,"wires":[["c242827d.2656a8"]]},{"id":"59df1a68.605bcc","type":"delay","z":"b9e24737.d62e38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":860,"wires":[["c242827d.2656a8"]]},{"id":"1e0f30a.9d9384f","type":"debug","z":"d59777ca.a8b5c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":440,"wires":[]},{"id":"76b14727.ea5b58","type":"catch","z":"ab4eedf4.584cf","name":"","scope":null,"uncaught":false,"x":80,"y":40,"wires":[["fb769df9.48f8e"]]},{"id":"fb769df9.48f8e","type":"debug","z":"ab4eedf4.584cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":40,"wires":[]},{"id":"e97bfbb8.7dc728","type":"debug","z":"b9e24737.d62e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":1900,"wires":[]},{"id":"ea14a658.f695d8","type":"comment","z":"ab4eedf4.584cf","name":"A-Temp","info":"","x":90,"y":600,"wires":[]},{"id":"485c0052.df7638","type":"inject","z":"b9e24737.d62e38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1420,"wires":[["4ebe03d7.c2ccbc"]]},{"id":"1a6954da.dfac33","type":"base64","z":"d59777ca.a8b5c8","name":"Encode","action":"","property":"payload","x":700,"y":120,"wires":[["ca33c359.bffd7"]]},{"id":"9b6d8d8f.18da3","type":"base64","z":"d59777ca.a8b5c8","name":"Encode","action":"","property":"payload","x":680,"y":440,"wires":[["e4c1d5ac.460c9"]]},{"id":"68e0ebcc.ac83ac","type":"aedes broker","z":"c5cb235c.8c667","name":"","mqtt_port":"11883","mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":130,"y":440,"wires":[["5d5bf5eb.2802ec"]]},{"id":"ca7cd249.787368","type":"inject","z":"78f172d6.d98214","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo reboot now","payloadType":"str","x":130,"y":100,"wires":[["3d477b0e.b3c61c"]]},{"id":"3d477b0e.b3c61c","type":"exec","z":"78f172d6.d98214","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":100,"wires":[["589015cf.4467dc"],[],[]]},{"id":"25e1e39d.47052c","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Power_T2","diff":false,"name":"","x":60,"y":200,"wires":[["250e35.db7821cc","2c19ec33.fcc724"]]},{"id":"1e502f96.6141b8","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"Power_T1","diff":false,"name":"","x":60,"y":80,"wires":[["3e0e86bb.4ec70a","d1acf301.984b4"]]},{"id":"6460932f.c2610c","type":"ui_gauge","z":"90e7a712.212c1","name":"","group":"1a887d1a.60961b","order":1,"width":0,"height":0,"gtype":"gage","title":"Gesamt Leistung","label":"kW","format":"{{value}}","min":0,"max":"650","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":20,"wires":[]},{"id":"2f0733b9.cd2e9c","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_V_is","diff":false,"name":"","x":60,"y":400,"wires":[["731eee35.f077b","ee27c7e5.da707","350a7fd9.01d528"]]},{"id":"731eee35.f077b","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":8,"width":"2","height":"2","name":"","label":"Vorrech","format":"{{msg.payload}}","layout":"col-center","x":420,"y":380,"wires":[]},{"id":"22d9e0eb.69ae08","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":9,"width":"2","height":"2","name":"","label":"Wehr","format":"{{msg.payload}}","layout":"col-center","x":410,"y":320,"wires":[]},{"id":"da342bfd.15ff58","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":7,"width":"2","height":"2","name":"","label":"Einlauf","format":"{{msg.payload}}","layout":"col-center","x":410,"y":440,"wires":[]},{"id":"4a2c2bf4.1f005c","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_E_is","diff":false,"name":"","x":60,"y":460,"wires":[["da342bfd.15ff58","73b39212.a31544","badac867.d5dc38"]]},{"id":"6aeb68ff.dbff48","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":10,"width":"0","height":"0","name":"","label":"Einl_Set","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":500,"wires":[]},{"id":"165b9600.4d1d7a","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_E_set","diff":true,"name":"","x":70,"y":520,"wires":[["6aeb68ff.dbff48","1f569d95.c315b2"]]},{"id":"2ad6c95f.637ae6","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_E_max_warn","diff":true,"name":"","x":90,"y":840,"wires":[[]]},{"id":"14913646.c15d42","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"Temp_Outdoor","diff":true,"name":"","x":80,"y":1120,"wires":[["3cf0dca2.76467c"]]},{"id":"193d557f.026d9b","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"Pegel_E_set","name":"","x":310,"y":1940,"wires":[]},{"id":"1f569d95.c315b2","type":"ui_numeric","z":"90e7a712.212c1","name":"","label":"numeric","tooltip":"","group":"2225c771.ec34c8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"-600","max":"0","step":"5","x":220,"y":560,"wires":[["47117e91.1827e8"]]},{"id":"47117e91.1827e8","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":560,"wires":[]},{"id":"3cf0dca2.76467c","type":"function","z":"90e7a712.212c1","name":"","func":"var x = msg.payload;\n\nvar newpayload = x / 10; \n\nmsg.payload = newpayload;\n\nnode.status({text: msg.payload + \" °C\" });\nreturn msg;\n\n\n\n\n\n/*\nvar x = msg.payload;\n\nvar newpayload = x / 10; \n\nmsg.payload = newpayload;\n//var msg = { payload: newpayload };\nnode.status({text: msg.payload });\nreturn msg;\n\n*/","outputs":1,"noerr":0,"x":300,"y":1140,"wires":[["9b1120cc.e3a2b8","5fc3abd.27de9d4","86ef736.6b7049"]]},{"id":"9b1120cc.e3a2b8","type":"ui_text","z":"90e7a712.212c1","group":"1086f38b.38e87c","order":1,"width":0,"height":0,"name":"","label":"Außentemp.","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":1120,"wires":[]},{"id":"d08adf44.b7d1d8","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Akt_Reg_Soll","diff":true,"name":"","x":70,"y":640,"wires":[["e10ca761.8af91"]]},{"id":"cf111ab9.3ac0b8","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":3,"width":"2","height":"1","name":"","label":"Diff","format":"{{msg.payload}}","layout":"col-center","x":590,"y":700,"wires":[]},{"id":"e10ca761.8af91","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":2,"width":"2","height":"1","name":"","label":"Akt Soll","format":"{{msg.payload}}","layout":"col-center","x":540,"y":640,"wires":[]},{"id":"77f48af2.398ad4","type":"ui_text","z":"90e7a712.212c1","group":"2225c771.ec34c8","order":4,"width":"2","height":"1","name":"","label":"Akt Ist","format":"{{msg.payload}}","layout":"col-center","x":590,"y":760,"wires":[]},{"id":"a0650cb.8697f7","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Akt_Reg_Diff","diff":true,"name":"","x":70,"y":700,"wires":[["7ccee694.bde2f"]]},{"id":"298238dc.db41d8","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Akt_Reg_Ist","diff":true,"name":"","x":70,"y":760,"wires":[["77f48af2.398ad4"]]},{"id":"7ccee694.bde2f","type":"ui_slider","z":"90e7a712.212c1","name":"","label":"","tooltip":"","group":"2225c771.ec34c8","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-500","max":"500","step":1,"x":310,"y":700,"wires":[["cf111ab9.3ac0b8"]]},{"id":"ef0224d8.bd2e9","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"Lager_Vib_Ist","diff":true,"name":"","x":70,"y":1200,"wires":[["e8080ced.819088","9df60c3f.498908"]]},{"id":"496e71ff.2979f8","type":"ui_text","z":"90e7a712.212c1","group":"1086f38b.38e87c","order":2,"width":"0","height":"0","name":"","label":"Lager Vibratinon T1","format":"{{msg.payload}} mm/s","layout":"row-spread","x":530,"y":1200,"wires":[]},{"id":"e8080ced.819088","type":"function","z":"90e7a712.212c1","name":"","func":"var x = msg.payload;\n\nvar newpayload = x / 10; \n\nmsg.payload = newpayload;\n//var msg = { payload: newpayload };\nnode.status({text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1200,"wires":[["496e71ff.2979f8"]]},{"id":"9df60c3f.498908","type":"link out","z":"90e7a712.212c1","name":"Lager_Vib","links":["4cb361be.d6e83","1266e534.7211d3"],"x":275,"y":1260,"wires":[]},{"id":"3e0e86bb.4ec70a","type":"link out","z":"90e7a712.212c1","name":"T1_Power","links":["a3f1af60.b99ab8","9db39812.71d59","883fb463.ef2c4","9af9094c.86ae2","99027209.a7d148"],"x":235,"y":60,"wires":[]},{"id":"250e35.db7821cc","type":"ui_text","z":"90e7a712.212c1","group":"1a887d1a.60961b","order":8,"width":"0","height":"0","name":"","label":"T2 Ossberger","format":"{{msg.payload}} kW","layout":"row-spread","x":680,"y":200,"wires":[]},{"id":"688d149e.5707cc","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Main_Power","diff":false,"name":"","x":70,"y":20,"wires":[["6460932f.c2610c","27b95b33.9cae2c"]]},{"id":"82029764.9f041","type":"ui_slider","z":"90e7a712.212c1","name":"T1 Öffnung","label":"T1 Öffnung {{value}} %","tooltip":"","group":"1a887d1a.60961b","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"0.1","x":410,"y":140,"wires":[[]]},{"id":"cda7a2b4.8e1d6","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"Leit_T1","diff":false,"name":"","x":50,"y":140,"wires":[["9e1fb22c.fc5d6"]]},{"id":"9e1fb22c.fc5d6","type":"function","z":"90e7a712.212c1","name":"","func":"var x = msg.payload;\n\nvar newpayload = x / 10; \n\nmsg.payload = newpayload;\n//var msg = { payload: newpayload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":140,"wires":[["82029764.9f041"]]},{"id":"2985bafc.4d1336","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Leit_Ges_T2","diff":true,"name":"","x":70,"y":260,"wires":[["e4c65036.4c808"]]},{"id":"87c49372.fd3a98","type":"ui_slider","z":"90e7a712.212c1","name":"T2 Öffnung","label":"T2 Öffnung Ges. : {{value}} %","tooltip":"","group":"1a887d1a.60961b","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"0.1","x":410,"y":260,"wires":[[]]},{"id":"e4c65036.4c808","type":"function","z":"90e7a712.212c1","name":"überarbeitet","func":"var x = msg.payload;\n\nvar newpayload = x / 10; \n\nmsg.payload = newpayload;\n//var msg = { payload: newpayload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":260,"wires":[["87c49372.fd3a98"]]},{"id":"23c6acbe.dd17cc","type":"comment","z":"90e7a712.212c1","name":"Technik","info":"","x":50,"y":900,"wires":[]},{"id":"6942ea7e.4f0f94","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"T1_Std_Geno","diff":true,"name":"","x":70,"y":1300,"wires":[["a714adff.7071c8","5533e09d.712488"]]},{"id":"a714adff.7071c8","type":"ui_text","z":"90e7a712.212c1","group":"1086f38b.38e87c","order":3,"width":"0","height":"0","name":"","label":"Betriebsstunden Geno T1","format":"{{value|number:1}} h","layout":"row-spread","x":550,"y":1280,"wires":[]},{"id":"fb87223f.e1e45","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Std_Geno_T2","diff":true,"name":"","x":70,"y":1420,"wires":[["549169e0.8cfb68"]]},{"id":"549169e0.8cfb68","type":"ui_text","z":"90e7a712.212c1","group":"1086f38b.38e87c","order":5,"width":"0","height":"0","name":"","label":"Betriebsstunden Geno T2","format":"{{value|number:1}} h","layout":"row-spread","x":550,"y":1420,"wires":[]},{"id":"7aa759e4.1d1ac","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"T1_Std_Hydr","diff":true,"name":"","x":70,"y":1360,"wires":[["3388e8cf.392798"]]},{"id":"3388e8cf.392798","type":"ui_text","z":"90e7a712.212c1","group":"1086f38b.38e87c","order":4,"width":"0","height":"0","name":"","label":"Betriebsstunden Hydraulik T1","format":"{{value|number:1}} h","layout":"row-spread","x":570,"y":1360,"wires":[]},{"id":"ab9aabf9.287f1","type":"ui_text","z":"90e7a712.212c1","group":"1086f38b.38e87c","order":6,"width":"0","height":"0","name":"","label":"Betriebsstunden Hydraulik T2","format":"{{value|number:1}} h","layout":"row-spread","x":570,"y":1480,"wires":[]},{"id":"2eaa4fb.fd20ab","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Std_Hydr_T2","diff":true,"name":"","x":70,"y":1480,"wires":[["ab9aabf9.287f1"]]},{"id":"5533e09d.712488","type":"link out","z":"90e7a712.212c1","name":"Stunden Geno T1","links":["214a146b.3b2ff4"],"x":315,"y":1320,"wires":[]},{"id":"d1acf301.984b4","type":"ui_text","z":"90e7a712.212c1","group":"1a887d1a.60961b","order":6,"width":"0","height":"0","name":"","label":"T1 S-Turbine","format":"{{msg.payload}} kW","layout":"row-spread","x":670,"y":80,"wires":[]},{"id":"ee27c7e5.da707","type":"link out","z":"90e7a712.212c1","name":"Pegel Vorrechen","links":["ef290647.4f292","57c5c35d.a6461c","3e3ed561.8394ea","c087aa70.62e108","7b0b85f1.2b2f1c","4931eb3a.ce8234","480bf2e3.3ea2b4","ee9a5a5a.627c68"],"x":235,"y":400,"wires":[]},{"id":"9c152f7d.692a08","type":"link out","z":"90e7a712.212c1","name":"Pegel Wehr","links":["f464b9ac.347f5","5e8eccc4.978094","d9d524de.8ec9","fe487341.ad7ce","38fec248.b5f616","c35bcee3.d1cb68","7dff3acb.e97174","af49620d.bdc4d8","4ad56222.a77144","4f80d7b5.1b332"],"x":815,"y":480,"wires":[]},{"id":"dd3182b1.6e42c","type":"ui_chart","z":"90e7a712.212c1","name":"","group":"2225c771.ec34c8","order":6,"width":"6","height":"6","label":"Pegelwerte","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Bad Quallity","dot":false,"ymin":"-600","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#fffc00","#9929bd","#ff9300","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"bb5383f1.70cdf","type":"function","z":"90e7a712.212c1","name":"","func":"\nreturn {\"payload\": msg.payload, \"topic\":\"Wehr\"};","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["dd3182b1.6e42c"]]},{"id":"350a7fd9.01d528","type":"function","z":"90e7a712.212c1","name":"","func":"\nreturn {\"payload\": msg.payload, \"topic\":\"Vorre\"};","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["dd3182b1.6e42c"]]},{"id":"73b39212.a31544","type":"function","z":"90e7a712.212c1","name":"","func":"\nreturn {\"payload\": msg.payload, \"topic\":\"Einl.\"};","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["dd3182b1.6e42c"]]},{"id":"27b95b33.9cae2c","type":"link out","z":"90e7a712.212c1","name":"Main Power","links":["56b88f3e.cffb","d1904a24.6cdf78","f0b9fd26.5a8b4","5777d0d1.644e9","35d8da6b.0fe666","6d6783d2.80afc4","74b4f759.caa6a8","df0723e8.fc548"],"x":375,"y":40,"wires":[]},{"id":"badac867.d5dc38","type":"link out","z":"90e7a712.212c1","name":"Pegel Einlauf","links":["7cddcd5a.f062b4","c2d95b1.70643a8","844b73b1.c4ce58","5868800b.2e5e38"],"x":235,"y":460,"wires":[]},{"id":"2c19ec33.fcc724","type":"link out","z":"90e7a712.212c1","name":"T2_Power","links":["1ba0c684.e6dbe9","c97f5c1d.4d8d2","7e518b5b.c0ce34"],"x":215,"y":180,"wires":[]},{"id":"5fc3abd.27de9d4","type":"link out","z":"90e7a712.212c1","name":"a_temp_turbine","links":["a6b0c4a6.308b08"],"x":435,"y":1060,"wires":[]},{"id":"c27fb2cd.dabfe8","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-1.1","payloadType":"num","x":250,"y":1080,"wires":[["5fc3abd.27de9d4"]]},{"id":"6013f389.8d021c","type":"comment","z":"90e7a712.212c1","name":"Werte Schreiben","info":"","x":80,"y":1900,"wires":[]},{"id":"fad465a2.f4c808","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-302","payloadType":"num","x":90,"y":1940,"wires":[["193d557f.026d9b"]]},{"id":"e061fe38.3dbf38","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_E_set","diff":true,"name":"","x":90,"y":2000,"wires":[["f62b044.5e699f8","7289dd57.90e19c"]]},{"id":"f62b044.5e699f8","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":2000,"wires":[]},{"id":"51fe0447.a02e04","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"Pegel_W_set","name":"","x":770,"y":2160,"wires":[]},{"id":"31189726.3a5298","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_W_set","diff":true,"name":"","x":90,"y":2400,"wires":[["c08de9e4.4860a8","7733da71.37944c","5512a617.d4a468","cc0d4fb7.cb2878"]]},{"id":"c08de9e4.4860a8","type":"debug","z":"90e7a712.212c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":2460,"wires":[]},{"id":"fd3dc4d9.f584d8","type":"inject","z":"90e7a712.212c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 06 * * *","once":false,"onceDelay":0.1,"topic":"-150 um 630 Uhr","payload":"-150","payloadType":"num","x":150,"y":2160,"wires":[["25cbff31.24c1a8"]]},{"id":"4cefc284.25309c","type":"comment","z":"90e7a712.212c1","name":"Pegelabsenkung Wehr","info":"","x":100,"y":2080,"wires":[]},{"id":"b235209c.22a5b8","type":"pushover api","z":"90e7a712.212c1","keys":"a4bd1a4e.0fc238","title":"WKW Antonsthal","name":"WKW Antonsthal","x":910,"y":2340,"wires":[]},{"id":"b93cdfef.21426","type":"function","z":"90e7a712.212c1","name":"Werteaenderung Push 3.0","func":"var input = msg.payload;\nvar datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||\"OFF\";\nvar t2 = global.get(\"t2_power\")||\"OFF\";\nvar topic = msg.topic;\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\n\nvar w_set_old = global.get(\"pegel_w_set_old\");\n\n\nmsg.payload = topic + '\\n' + \"neuer Wert:\" + input + '\\n' + \"alter Wert:\" + w_set_old + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + \"Leistung-T1: \" + t1 + \"kW\" + '\\n' + \"Leistung-T2: \" + t2 + \"kW\" + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\n\n//msg.topic = 'WKW Antonsthal: ' + topic;\nnode.status({text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":2400,"wires":[["3889257a.5a7b0a"]]},{"id":"3889257a.5a7b0a","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":2400,"wires":[]},{"id":"773bb2fb.9ce65c","type":"function","z":"90e7a712.212c1","name":"now aktuelles Datum 2.0","func":"// (1) wandelt timestamo ins ISO Datumformat um\n//msg.timestamp= new Date().toISOString()\n\n\n// (2) beliebiges Datum festlegbar: hier: YYYY-MM-DD HH:MM.SS\n//     (Ausgabeformat wird danz am Ende zusammengestellt)\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nmonth = '0'+month;\n}\nif(day.toString().length == 1) {\nday = '0'+day;\n}   \nif(hour.toString().length == 1) {\nhour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nminute = '0'+minute;\n}\nif(second.toString().length == 1) {\nsecond = '0'+second;\n} \n  \n//msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.nowdate = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2400,"wires":[["b93cdfef.21426"]]},{"id":"7289dd57.90e19c","type":"link out","z":"90e7a712.212c1","name":"Pegel_E_set","links":["faff8200.3c244"],"x":235,"y":2040,"wires":[]},{"id":"7733da71.37944c","type":"link out","z":"90e7a712.212c1","name":"Pegel_W_set","links":["4e0df03c.2abd88"],"x":255,"y":2500,"wires":[]},{"id":"4d976a13.f6d254","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Wehr_is","diff":false,"name":"","x":650,"y":540,"wires":[["9c152f7d.692a08","22d9e0eb.69ae08","bb5383f1.70cdf"]]},{"id":"def20d8.722567","type":"comment","z":"90e7a712.212c1","name":"Pegel_Wehr_is DB Fehler!!! INT40","info":"","x":130,"y":320,"wires":[]},{"id":"cc0d4fb7.cb2878","type":"ui_numeric","z":"90e7a712.212c1","name":"","label":"Pegel Wehr Soll","tooltip":"","group":"eb2d4598.d3a3a","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":"-320","max":"-130","step":"10","x":260,"y":2300,"wires":[[]]},{"id":"7f74c79d.c32a78","type":"function","z":"90e7a712.212c1","name":"set to w_set","func":"// initialise the counter to 0 if it doesn't exist already\nvar wehr_set = global.get('w_set')||-130;\nwehr_set = msg.payload;\n// store the value back\nglobal.set('w_set',wehr_set);\n// make it part of the outgoing msg object\nmsg.payload = wehr_set;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2320,"wires":[[]]},{"id":"8eb164f6.dc6828","type":"debug","z":"90e7a712.212c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":2100,"wires":[]},{"id":"1454a7c6.a038d","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"Std_Pump_1","diff":true,"name":"","x":70,"y":1540,"wires":[["fa570539.00589"]]},{"id":"fdef6173.ad72b","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Std_Pump_2","diff":true,"name":"","x":70,"y":1600,"wires":[["ae1e5d5e.f1d398","3a8dc31d.444f2c","91d2d636.03125","65ef1b60.89c5ec"]]},{"id":"bed3e87.e87cd98","type":"debug","z":"90e7a712.212c1","name":"Pump1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":1540,"wires":[]},{"id":"c41404ef.1269e","type":"debug","z":"90e7a712.212c1","name":"Pump2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":1600,"wires":[]},{"id":"fa570539.00589","type":"function","z":"90e7a712.212c1","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1540,"wires":[["bed3e87.e87cd98"]]},{"id":"ae1e5d5e.f1d398","type":"function","z":"90e7a712.212c1","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1600,"wires":[["c41404ef.1269e"]]},{"id":"56898b30.5c4fa4","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1640,"wires":[]},{"id":"771ebc0c.9f577c","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1700,"wires":[]},{"id":"7552c48c.323984","type":"function","z":"90e7a712.212c1","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1640,"wires":[["56898b30.5c4fa4"]]},{"id":"ec769a17.d48a48","type":"function","z":"90e7a712.212c1","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1700,"wires":[["771ebc0c.9f577c"]]},{"id":"3a8dc31d.444f2c","type":"interval-length","z":"90e7a712.212c1","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":true,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":340,"y":1660,"wires":[["7552c48c.323984"],["ec769a17.d48a48"]]},{"id":"3ed2ad47.12ceca","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1800,"wires":[]},{"id":"74b1e396.c31664","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1760,"wires":[]},{"id":"91d2d636.03125","type":"link out","z":"90e7a712.212c1","name":"Std_Pump_2","links":["5e24cfd3.a7ba2"],"x":155,"y":1680,"wires":[]},{"id":"65ef1b60.89c5ec","type":"function","z":"90e7a712.212c1","name":"Einschaltzeit","func":"var time = context.get('time')||0;\n\ntime = msg.payload;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\n\nvar msg1 = { payload: time };\nvar msg2 = { payload: count };\nvar msg3 = { payload: msg.payload };\n\nreturn [msg1, msg2, msg3];\n\n/*\nif (msg.payload[0] > 50 && msg.payload[1] > 0){\nvar newpayload = \"Aktueller Pegel Vorrechen: \" + msg.payload[0] + \" mm\" + \"\\n\" + \"Schwellwert: \" + \"+50\" + \" mm\" + \"\\n\" + \"Leitsung: \" +  msg.payload[1] + \" kW\";\n\nvar msg = { payload: newpayload };\nmsg.image = \"http://www.kaiser-hydropower.com/wkw/antonsthal/ipcam/FI9900P_00626E635A9D/snap/Schedule_20200210-222615.jpg\";\nreturn msg;\n} else {\nmsg = { payload:false };\n\n\nreturn null;\n}\n\n\n\n\nvar datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1 = global.get(\"t1_power\")||\"OFF\";\nvar t2 = global.get(\"t2_power\")||\"OFF\";\nvar topic = msg.topic;\nvar wehr = global.get(\"level_wehr\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar einlauf = global.get(\"level_einlauf\")||0;\n\n\nmsg.payload = topic + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + \"Leistung-T1: \" + t1 + \"kW\" + '\\n' + \"Leistung-T2: \" + t2 + \"kW\" + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\n\n//msg.topic = 'WKW Antonsthal: ' + topic;\nnode.status({text: msg.payload });\nreturn msg;\nreturn msg;\n\n*/","outputs":3,"noerr":0,"x":350,"y":1720,"wires":[["74b1e396.c31664"],["3ed2ad47.12ceca"],["c7a32f5f.c33c38"]]},{"id":"c7a32f5f.c33c38","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1840,"wires":[]},{"id":"30651fe9.b715f","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"407.1031188964844","payloadType":"num","x":130,"y":1760,"wires":[["65ef1b60.89c5ec"]]},{"id":"5743fedd.9f448","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"407.1033935546875","payloadType":"num","x":130,"y":1800,"wires":[["65ef1b60.89c5ec"]]},{"id":"f2c43957.5c8b4","type":"inject","z":"90e7a712.212c1","name":"w_set um 1800 Uhr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"-200 um 1800 Uhr","payload":"-200","payloadType":"num","x":140,"y":2200,"wires":[["de63460d.8bd8e"]]},{"id":"25cbff31.24c1a8","type":"function","z":"90e7a712.212c1","name":"node status set old","func":"var w_set_old = global.get('pegel_w_set');\nglobal.set('w_set_old',w_set_old);\n\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload + '| old: ' + w_set_old});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":2160,"wires":[["51fe0447.a02e04"]]},{"id":"86ef736.6b7049","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1180,"wires":[]},{"id":"bbe17687.19d39","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"88","payloadType":"num","x":110,"y":1160,"wires":[["3cf0dca2.76467c"]]},{"id":"9260bc7a.4c44a","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Pegel_Regelung_ON_OFF","diff":false,"name":"","x":130,"y":2660,"wires":[["91605c41.00e1","d6808de9.ff472"]]},{"id":"91605c41.00e1","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":2620,"wires":[]},{"id":"c479e48d.ac4a78","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Anlage_ONOFF","diff":false,"name":"","x":480,"y":2540,"wires":[["951951a2.fe0e4"]]},{"id":"951951a2.fe0e4","type":"debug","z":"90e7a712.212c1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":2540,"wires":[]},{"id":"8737b179.1c457","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"Pegel_Regelung_ON_OFF","name":"","x":370,"y":2800,"wires":[]},{"id":"4dece0d0.f39018","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":2760,"wires":[["8737b179.1c457"]]},{"id":"8955c738.30faa8","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":2800,"wires":[["8737b179.1c457"]]},{"id":"23fed062.f5f9c","type":"comment","z":"90e7a712.212c1","name":"X32","info":"","x":50,"y":2620,"wires":[]},{"id":"ba458609.622828","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Turbinenanwahl_AUTO","diff":false,"name":"","x":120,"y":3040,"wires":[["6bfaedc5.ed21f4"]]},{"id":"58bc671b.c76fb8","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":3380,"wires":[["51158615.198d3"]]},{"id":"51158615.198d3","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"Rechenreiniger_Start","name":"","x":320,"y":3380,"wires":[]},{"id":"8ce288a4.724f88","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Rechenreiniger_Zyklen","diff":false,"name":"","x":140,"y":3320,"wires":[[]]},{"id":"5512a617.d4a468","type":"rbe","z":"90e7a712.212c1","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":2360,"wires":[["773bb2fb.9ce65c"]]},{"id":"184984ad.d8ee3b","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"Rechenreiniger_Start","diff":false,"name":"","x":140,"y":3260,"wires":[[]]},{"id":"6a8e75ee.fe830c","type":"comment","z":"90e7a712.212c1","name":"X16","info":"","x":50,"y":3000,"wires":[]},{"id":"8913c818.63a538","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":3440,"wires":[["51158615.198d3"]]},{"id":"20daf280.d3d43e","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"Anlage_ON_OFF","name":"","x":1150,"y":2540,"wires":[]},{"id":"8c4318f0.59585","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":890,"y":2520,"wires":[["20daf280.d3d43e"]]},{"id":"2810c124.9aa06e","type":"inject","z":"90e7a712.212c1","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":890,"y":2560,"wires":[["20daf280.d3d43e"]]},{"id":"27e5e32b.b20394","type":"s7 control","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","function":"cycletime","name":"","x":840,"y":2620,"wires":[[]]},{"id":"a6afd612.1c1268","type":"s7 in","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","mode":"single","variable":"T2_kl_Zell_IST","diff":true,"name":"","x":610,"y":260,"wires":[[]]},{"id":"f5d1d0e7.8a08a","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"T2_kl_Zell_SOLL","name":"","x":1210,"y":220,"wires":[]},{"id":"45f9c36c.54b82c","type":"inject","z":"90e7a712.212c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":840,"y":240,"wires":[["f5d1d0e7.8a08a"]]},{"id":"243692c3.0aadde","type":"inject","z":"90e7a712.212c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"num","x":850,"y":280,"wires":[["f5d1d0e7.8a08a"]]},{"id":"cf73f889.575bb8","type":"inject","z":"90e7a712.212c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1000","payloadType":"num","x":850,"y":180,"wires":[["34d4a36e.813ebc","f5d1d0e7.8a08a"]]},{"id":"c8a1866c.4d882","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"T2_ges_Zell_Soll","name":"","x":1210,"y":160,"wires":[]},{"id":"34d4a36e.813ebc","type":"s7 out","z":"90e7a712.212c1","endpoint":"5b9174ce.3a5f64","variable":"T2_gr_Zell_SOLL","name":"","x":1210,"y":280,"wires":[]},{"id":"1cb7cedb.96b4e9","type":"ui_button","z":"90e7a712.212c1","name":"Pegel Regelung","group":"1a887d1a.60961b","order":4,"width":"6","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":2680,"wires":[[]]},{"id":"4db2e21b.54ded4","type":"ui_button","z":"90e7a712.212c1","name":"T-Anwahl","group":"1a887d1a.60961b","order":5,"width":"6","height":"1","passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":2980,"wires":[[]]},{"id":"d6808de9.ff472","type":"function","z":"90e7a712.212c1","name":"Pegelre. status","func":"\n\n\nif (msg.payload === false)\n    {\n    msg.payload = \"Pegelregelung AUS\"\n    msg.background = \"red\";\n    }\n    \nif (msg.payload === true)\n    {\n    msg.payload = \"Pegelregelung EIN\"\n    msg.background = \"green\";\n    }\n\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2680,"wires":[["1cb7cedb.96b4e9"]]},{"id":"6bfaedc5.ed21f4","type":"function","z":"90e7a712.212c1","name":"TurbinenAnwahl status","func":"\n\n\nif (msg.payload === false)\n    {\n    msg.payload = \"T-Anwahl Hand\"\n    msg.background = \"red\";\n    }\n    \nif (msg.payload === true)\n    {\n    msg.payload = \"T-Anwahl AUTO\"\n    msg.background = \"green\";\n    }\n\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":2980,"wires":[["4db2e21b.54ded4"]]},{"id":"de63460d.8bd8e","type":"function","z":"90e7a712.212c1","name":"node status set old","func":"var w_set_old = global.get('pegel_w_set');\nglobal.set('w_set_old',w_set_old);\n\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload + '| old: ' + w_set_old});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":2220,"wires":[["51fe0447.a02e04"]]},{"id":"589015cf.4467dc","type":"debug","z":"78f172d6.d98214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"ee74067d.6377b","type":"comment","z":"90e7a712.212c1","name":"Hydraulik T1","info":"im DB1163\nist das Datenwort DW4 dies enthält den Druck der hat entweder den Wert 800 = Druck zu tief Pumpe soll laufen oder 1150 = Druck Ok Pumpe steht (um 3sek verzögert)\ndas Datenbit DBX28.0 zeigt an ob die Pumpe läuft = high.\n\n\nDruck: DB1163.DW4, Status: DB1163.DBX28.0\n\n","x":90,"y":940,"wires":[]},{"id":"76cd20a4.55a138","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"T1_Hyd_Press","diff":true,"name":"","x":90,"y":980,"wires":[["b61b497c.0d0bb"]]},{"id":"b61b497c.0d0bb","type":"function","z":"90e7a712.212c1","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":960,"wires":[["a6482a23.c7eb88"]]},{"id":"f681f1bd.165f88","type":"function","z":"90e7a712.212c1","name":"node status","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1020,"wires":[["b6c92a3e.e5e3e8"]]},{"id":"81cd8075.c0ebd","type":"s7 in","z":"90e7a712.212c1","endpoint":"8379d7d9.bc3db8","mode":"single","variable":"T1_Hyd_Status","diff":true,"name":"","x":100,"y":1040,"wires":[["f681f1bd.165f88"]]},{"id":"a6482a23.c7eb88","type":"link out","z":"90e7a712.212c1","name":"T1 Hyd Press","links":["395a42dc.f6fd2e"],"x":755,"y":960,"wires":[]},{"id":"b6c92a3e.e5e3e8","type":"link out","z":"90e7a712.212c1","name":"T1 Hyd Stat","links":["634afa54.00222c"],"x":755,"y":1020,"wires":[]},{"id":"8b44ce47.c740f","type":"comment","z":"ab4eedf4.584cf","name":"Sofort Senden","info":"","x":150,"y":880,"wires":[]},{"id":"b33cd8ae.dc166","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\n\nmsg.payload = {\n    //db: variable,\n    T1_hyd_press: msg.payload,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["c5c63a72.d8938"]]},{"id":"bdd9a250.0217b","type":"function","z":"ab4eedf4.584cf","name":"get data for DB","func":"node.status({fill:\"blue\",shape:\"ring\",text: msg.payload });\n\nmsg.payload = {\n    //db: variable,\n    T1_hyd_stat: msg.payload,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":960,"wires":[["c5c63a72.d8938"]]},{"id":"395a42dc.f6fd2e","type":"link in","z":"ab4eedf4.584cf","name":"","links":["a6482a23.c7eb88"],"x":185,"y":920,"wires":[["b33cd8ae.dc166"]]},{"id":"634afa54.00222c","type":"link in","z":"ab4eedf4.584cf","name":"","links":["b6c92a3e.e5e3e8"],"x":185,"y":960,"wires":[["bdd9a250.0217b"]]},{"id":"f2a4a4af.109998","type":"function","z":"ab4eedf4.584cf","name":"Ajax Cam TXT peg_Johanng flow_Johanng","func":"// var newpayload = \"Antonsthal Gesamtleistung: \" + msg.payload[\"Main_Power\"] + \" kW\" + \"\\n\" + \"Wehr: \" + msg.payload[\"Wehr\"] + \" mm\" + \"\\n\" +  msg.payload[\"Datum\"];\n\n\nvar datum = msg.nowdate;\nvar main = global.get(\"main_power\")||0;\nvar t1_power = global.get(\"t1_power\")||0;\nvar t2_power = global.get(\"t2_power\")||0;\n\nvar topic = msg.topic;\nvar einlauf = global.get(\"level_einlauf\")||0;\nvar vorrechen = global.get(\"level_vorrechen\")||0;\nvar wehr = global.get(\"level_wehr\")||0;\nvar a_temp = global.get(\"a_temp_turbine\")||\"offline\";\n\nvar peg_Johanng = global.get(\"peg_Johanng\")||0;\nvar flow_Johanng = global.get(\"flow_Johanng\")||0;\n\n\n//msg.payload = topic + '\\n' + \"Leistung-Gesamt: \" + main + \"kW\" + '\\n' + '\\n' + \"Pegel Wehr: \" + wehr + \"mm\" + '\\n' + \"Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n' +  \"Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'  + '\\n' + 'Timestamp: ' + datum;\n\n/*var newpayload = \"<tb><br>WKW Antonsthal \" + topic + \"<br>Time: \"  + datum + '\\n' \n+ \"<br>Gesamt-Leistung: \" + main + \"kW\" + \" T1:\" + t1_power + \"kW\" + \" T2:\" + t2_power + \"kW\" + '\\n' \n+ \"<br>Pegel Einlauf: \" + einlauf + \"mm\" + '\\n'\n+ \"<br>Pegel Vorrechen: \" + vorrechen + \"mm\" + '\\n'\n+ \"<br>Pegel Wehr: \" + wehr + \"mm\" + '\\n'\n+ \"<br>A-Temp Turbine: \" + a_temp + \"&deg;C\" + '\\n'\n+ \"</td><td><br>\"+ \"Pegel Johanngeorg.: \" + peg_Johanng + \"cm\" + '\\n' \n+ \"<br>Druchfluss Johanng.:    \" + flow_Johanng + \" m^3/s\" + '\\n' + \"</td>\";*/\nvar newpayload = '<tr><td><br>WKW Poehla ' + topic + '<br>Time: '  + datum + '\\n' + \"<br>Gesamt-Leistung: \" + main + \"kW\" + '\\n'  + \"<br>Pegel Einlauf: \" + einlauf + \"mm\" + \"<br>Pegel Vorrechen: \" + vorrechen + \"mm\" + \" Dif: \" + diff + \"mm\"+ '\\n' + \"<br>A-Temp-Turbinenhaus: \" + us_t2_tm2 + \" &#8451;\" + '</td><td><a href=\"chart/index.html\">Graph</a><br>'+ \"Pegel Rittersgrun: \" + peg_Ritt + '\\n' + \"<br>Druchfluss T2:    \" + us_t2_fl + \" m^3/s\" + '\\n' + \"<br>Wirkungsgrad T2: \" + t2_n + \" &#037;\" + '\\n' + \"</td></td>\";\n\n\n\nvar msg2 = { payload: newpayload };\nnode.status({text: msg.payload });\nreturn msg2;\n\n\n// var newpayload = \"Falter Gesamtleistung: \" + payload[\"Power T1\"] + \" kW\" + \" Email vom: \" + payload[\"Datum\"];\n// var msg = { msg.payload: newpayload };\n// return msg;\n\n//var newpayload = '<tr><td><br>WKW Poehla ' + topic + '<br>Time: '  + datum + '\\n' + \"<br>Gesamt-Leistung: \" + main + \"kW\" + '\\n'  + \"<br>Pegel Einlauf: \" + einlauf + \"mm\" + \"<br>Pegel Vorrechen: \" + vorrechen + \"mm\" + \" Dif: \" + diff + \"mm\"+ '\\n' + \"<br>A-Temp-Turbinenhaus: \" + us_t2_tm2 + \" &#8451;\" + '</td><td><a href=\"chart/index.html\">Graph</a><br>'+ \"Pegel Rittersgrun: \" + peg_Ritt + '\\n' + \"<br>Druchfluss T2:    \" + us_t2_fl + \" m^3/s\" + '\\n' + \"<br>Wirkungsgrad T2: \" + t2_n + \" &#037;\" + '\\n' + \"</td></td>\";\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":2640,"wires":[["fb41a12.9303f6","f69fa7ec.e44d88"]]},{"id":"d9a0de2b.22a02","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"peg_Johanng","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1020,"wires":[[]]},{"id":"f5268e88.251548","type":"change","z":"ab4eedf4.584cf","name":"","rules":[{"t":"set","p":"flow_Johanng","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1080,"wires":[[]]},{"id":"f69fa7ec.e44d88","type":"debug","z":"ab4eedf4.584cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":2560,"wires":[]}]